<section class="breadcrumb-wrapper">
    <div class="breadcrumb-contents">
        {% block breadcrumb %}
            {{ wo_render_breadcrumbs() }}
        {% endblock breadcrumb %}
    </div>
</section>