/* highlight results */
.ui-autocomplete span.hl_results {
    background-color: #65bdff;
    font-weight: bold;
}

/* loading - the AJAX indicator */
.ui-autocomplete-loading {
    background: white url('../img/push-bg.png') right center no-repeat;
}

.ui-autocomplete-highlight {
    font-weight: bold;
}
.ui-autocomplete li.ui-menu-item:hover {
    background: #65bdff;
}
.ui-menu .ui-menu-item a{

    border: none !important;
}
.ui-menu .ui-menu-item a:hover{

    background: #65bdff;
}
.ui-state-focus {
    background: none !important;
    background-color: #d2e7d6 !important;
    border: none !important;}
/* scroll results */
.ui-autocomplete {
    max-height: 250px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding for vertical scrollbar */
    padding-right: 15px;
    background: #d0d6d2;
}

.ui-autocomplete li {
    font-size: 16px;
    font-family: helveticaneue-roman, Arial, sans-serif;
    line-height: 1.925rem;
    color: #061646;
    text-align: left;
    margin-top: 5px;
}

/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 250px;
}