@font-face {
    font-family: 'tradegothiclts-bold';
    src: url("../fonts/tradegothiclts-bold.eot");
    src: url("../fonts/tradegothiclts-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/tradegothiclts-bold.woff") format("woff"), url("../fonts/tradegothiclts-bold.ttf") format("truetype"), url("../fonts/tradegothiclts-bold.svg#tradegothiclts-bold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneue-roman';
    src: url("../fonts/helveticaneue-roman.otf") format("otf"), url("../fonts/helveticaneue-roman.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneue-lt';
    src: url("../fonts/helveticaneue-lt.eot");
    src: url("../fonts/helveticaneue-lt.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue-lt.otf") format("otf"), url("../fonts/helveticaneue-lt.ttf") format("truetype"), url("../fonts/helveticaneue-lt.svg#helveticaneue-lt") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneue-light';
    src: url("../fonts/helveticaneue-light.eot");
    src: url("../fonts/helveticaneue-light.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue-light.woff") format("woff"), url("../fonts/helveticaneue-light.ttf") format("truetype"), url("../fonts/helveticaneue-light.svg#helveticaneue-light") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'atcrillee-bolditalic';
    src: url("../fonts/atcrillee-bolditalic.eot");
    src: url("../fonts/atcrillee-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/atcrillee-bolditalic.woff") format("woff"), url("../fonts/atcrillee-bolditalic.ttf") format("truetype"), url("../fonts/atcrillee-bolditalic.svg#atcrillee-bolditalic") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'asevenoneeight-extrablack';
    src: url("../fonts/sevenoneeight-extrablack.eot");
    src: url("../fonts/sevenoneeight-extrablack.eot?#iefix") format("embedded-opentype"), url("../fonts/sevenoneeight-extrablack.woff") format("woff"), url("../fontss/sevenoneeight-extrablack.ttf") format("truetype"), url("../fonts/sevenoneeight-extrablack.svg#sevenoneeight-extrablack") format("svg");
    font-weight: normal;
    font-style: normal;
}

/*
	>< Common styles
*/
header .top {
    position: relative;
    height: 2.4375rem;
    background: url(../imgs/etc/header-top.jpg) center no-repeat;
    background-size: cover;
    z-index: 100;
}

header .top .wrapper {
    height: 2.4375rem;
}

header .top .logo {
    text-align: center;
}

header .top .logo img {
    width: 24.125rem;
}

header .top .link {
    position: absolute;
    top: 46%;
    right: 0;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

header .top .link a {
    font-family: atcrillee-bolditalic, Arial, sans-serif;
    font-size: 0.6875rem;
    color: #a2856e;
    text-decoration: none;
    -webkit-text-transform: uppercase;
    -moz-text-transform: uppercase;
    -o-text-transform: uppercase;
    -ms-text-transform: uppercase;
    text-transform: uppercase;
}

header .top .link a img {
    margin-right: 0.125rem;
}

header .top .link a:hover {
    text-decoration: underline;
}

header .mid {
    position: relative;
    background: #023440;
    font-size: 0;
    height: auto !important;
    text-align: center;
}

header .mid img {
    width: auto;
    max-width: 100%;
}

header .bottom {
    height: 2.3125rem;
    background: url(../imgs/etc/header-bottom.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
}

header .bottom form {
    position: relative;
    width: 72%;
    height: 100%;
    display: inline-block;
    float: left;
}

header .bottom form input.text {
    width: 100%;
    float: left;
    background: transparent;
    font-family: tradegothiclts-bold, Arial, sans-serif;
    font-size: 0.875rem;
    color: #828281;
    border: 0px;
    height: 2.3125rem;
    padding: 0px;
    padding-right: 3.75rem;
    box-sizing: border-box;
    border-radius: 0px;
}

header .bottom form input.text::-webkit-input-placeholder {
    color: #828281;
    opacity: 1;
}

header .bottom form input.text::-moz-placeholder {
    color: #828281;
    opacity: 1;
}

header .bottom form input.text::-ms-input-placeholder {
    color: #828281;
    opacity: 1;
}

header .bottom form input.submit {
    position: absolute;
    right: 1.0625rem;
    top: 0;
    width: 1.875rem;
    height: 100%;
    background: url(../imgs/ico/loop.png) center no-repeat;
    background-size: 1.5rem auto;
    cursor: pointer;
    border: 0px;
}
form .confirm{

    position: relative;
    display: none;
    margin: 31px;
    z-index: 517;
    font-size: 18px;
}

header .bottom a.button {
    box-sizing: border-box;
    width: 28%;
    float: left;
    color: #d0d6d2;
    font-family: tradegothiclts-bold, Arial, sans-serif;
    font-size: 0.875rem;
    height: 2.3125rem;
    line-height: 2.3125rem;
    border: 0px;
    text-align: left;
    text-decoration: none;
    padding-left: 2.5625rem;
    background:  #023440 url(../imgs/ico/plus.png) left 1rem center no-repeat;
    background-size: 0.8125rem auto;
    -webkit-text-transform: uppercase;
    -moz-text-transform: uppercase;
    -o-text-transform: uppercase;
    -ms-text-transform: uppercase;
    text-transform: uppercase;
    border-radius: 0px;
}
header .bottom a.button.croix {
    background: #FFFFFF url(../imgs/ico/croix.png) left 1rem center no-repeat;
}
header .bottom a.button:hover {
    background-color: #3FA7F6;
}

footer {
    background:  #023440;
    clear: both;
    text-align: center;
    margin-top: 5%;
}

footer ul {
    display: inline-block;
    padding: 1.875rem 0;
}

footer ul li {
    display: inline-block;
    vertical-align: middle;
}

footer ul li + li::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 0.625rem;
    background: #85654c;
    margin: 0 0.875rem;
    vertical-align: middle;
}

footer ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.625rem;
    color: #FFFFFF;
    display: inline-block;
    font-family: asevenoneeight-extrablack, Arial, sans-serif;
}

footer ul li a:hover {
    color: #3FA7F6;
}

footer ul li:last-child span {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.625rem;
    color: #FFFFFF;
    font-family: asevenoneeight-extrablack, Arial, sans-serif;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.8125rem;
}

footer ul li:last-child:hover span {
    color:#3FA7F6;
}

footer ul li:last-child a.icon {
    width: 6.375rem;
    top: 0.1875rem;
    position: relative;
}

footer ul li:last-child a.icon:hover {
    opacity: 0.7;
}

.push {
    display: none;
    opacity: 1;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../imgs/etc/push-bg.png) center no-repeat;
    background-size: cover;
}

.push .sm-wrapper {
    margin-top: 5.625rem;
    text-align: center;
}

.push .close {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 2.0175rem;
    height: 2.0175rem;
    background: url(../imgs/ico/close.png) center no-repeat;
    background-size: 100% 100%;
}

.push .close:hover {
    opacity: 0.9;
    cursor: pointer;
}

.push .contents {
    margin-top: 1.875rem;
    display: inline-block;
}

.push .contents > img {
    width: 27.9375rem;
}

.push .contents .actionButt {
    margin-top: 2.5rem;
}

.push .contents .actionButt a {
    position: relative;
    display: block;
    margin-top: -0.75rem;
    width: 79%;
    margin-left: auto;
    margin-right: auto;
}

.push .contents .actionButt a > img {
    width: 24.125rem;
    max-width: 100%;
}

.push .contents .actionButt a .arrows {
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.push .contents .actionButt a .arrows img {
    position: absolute;
}

.push .contents .actionButt a .arrows img:nth-child(1) {
    top: 2.25rem;
    left: -0.625rem;
    width: 0.875rem;
}

.push .contents .actionButt a .arrows img:nth-child(2) {
    top: -2.25rem;
    right: -1.4375rem;
    width: 2.9375rem;
}

.push .contents .actionButt a .arrows img:nth-child(3) {
    left: 1rem;
    top: -2.9375rem;
    width: 1.25rem;
}

.push .contents .actionButt a .arrows img:nth-child(4) {
    left: -5rem;
    top: 3.5rem;
    width: 6.1875rem;
}

.push .contents .actionButt a .arrows img:nth-child(5) {
    right: -1.625rem;
    top: 3.875rem;
    width: 1.5625rem;
}

.push .contents .actionButt a .arrows {
    position: absolute;
    width: 120%;
    height: 120%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

section.hero-story {
    padding: 41px 0;
    min-height: 400px;
}

section.hero-story .sm-wrapper {
    border: 0.625rem solid  #023440;
    position: relative;
    text-align: center;
    background: #d0d6d2;
}

section.hero-story .sm-wrapper::after {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 10px;
    box-shadow: 0px 20px 12px rgba(0, 0, 0, 0.3);
    bottom: 9px;
    right: 9px;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
    z-index: -1;
}

section.hero-story .sm-wrapper::before {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 10px;
    box-shadow: 0px 20px 12px rgba(0, 0, 0, 0.3);
    bottom: 9px;
    left: 9px;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    z-index: -1;
}

section.hero-story .sm-wrapper .share-media {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
}

section.hero-story .sm-wrapper .share-media .like,
section.hero-story .sm-wrapper .share-media .facebook,
section.hero-story .sm-wrapper .share-media .twitter {
    font-family: tradegothiclts-bold, Arial, sans-serif;
    font-size: 0.75rem;
    color:  #023440;
    display: inline-block;
    height: 1.4375rem;
    line-height: 1.4375rem;
    margin-right: 0.4375rem;
    padding: 0 0.4375rem 0 1.9rem;
    background: #d0d6d2 url(../imgs/ico/like-sm.png) left  center no-repeat;
    cursor: pointer;
    vertical-align: middle;
}

section.hero-story .sm-wrapper .share-media .like + span,
section.hero-story .sm-wrapper .share-media .facebook + span,
section.hero-story .sm-wrapper .share-media .twitter + span {
    margin-left: 0.9125rem;
}

section.hero-story .sm-wrapper .share-media .like:hover,
section.hero-story .sm-wrapper .share-media .facebook:hover,
section.hero-story .sm-wrapper .share-media .twitter:hover {
    background-color: #d0d6d2;
    cursor: pointer;
}

section.hero-story .sm-wrapper .share-media .facebook,
section.hero-story .sm-wrapper .share-media .twitter {
    padding: 0;
    width: 1.5625rem;
    background-size: 0.5625rem auto;
    padding-left: 15px;
}

section.hero-story .sm-wrapper .share-media .like {
    background-size: 1.8125rem auto;
}

section.hero-story .sm-wrapper .share-media .facebook {
    background: #d0d6d2 url(../imgs/ico/facebook.png) center no-repeat;
    background-size:  1.8125rem auto;
}

section.hero-story .sm-wrapper .share-media .twitter {
    background: #d0d6d2 url(../imgs/ico/twitter-sm.png) center no-repeat;
    background-size:  1.8125rem auto;
}

section.hero-story .sm-wrapper .results .story .tab-propose  img{
    width: 40px;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

section.hero-story .sm-wrapper .contents {
    margin-top: 4.375rem;
    text-align: center;
}

.register{
    alignment: center;
    width: 50%;
    display: inline-block;
}
.pages-container{
    padding: 2%;
}
.page-td{
    padding:10px auto;
    text-align: left;
    border-bottom: 2px solid  #023440;
}.page-trad{
    padding:10px auto;
    text-align: left;
    border-bottom: 2px solid  #023440;
    font-size: 0.8075rem;
    font-family: helveticaneue-roman, Arial, sans-serif;
    color: #023440;
     height: 40px;
     vertical-align: middle;
}
.page-title{
    text-align: left;
}
.page-th{
    padding:15px auto;
    text-align: left;
    border-bottom: 2px solid  #023440;
}
.pages-table{
    margin:auto;
    width:75%;
}
.page-action{
    text-decoration: none;
    list-style-type: none;
    text-align: right;
}
.user-check-email{
    width: 75%;
    display: inline-block;
    margin-bottom: 1rem;
}
section.hero-story .sm-wrapper .contents h2 {
    font-family: tradegothiclts-bold, Arial, sans-serif;
    color:  #023440;
    font-size: 2.525rem;
    -webkit-text-transform: uppercase;
    -moz-text-transform: uppercase;
    -o-text-transform: uppercase;
    -ms-text-transform: uppercase;
    text-transform: uppercase;
}
h3{
    font-family: tradegothiclts-bold, Arial, sans-serif;
    color:  #023440;
    font-size: 2.25rem;
}
section.hero-story .sm-wrapper .contents p, section.hero-story .sm-wrapper .contents ul li {
    font-family: helveticaneue-roman, Arial, sans-serif;
    font-size: 1.0375rem;
    line-height: 1.725rem;
    color:  #023440;
    padding: 0 0.9375rem;
}
section.hero-story span {

    font-size: 1.0075rem;
    line-height: 1.525rem;
    color:  #023440;
}


section.hero-story .sm-wrapper .contents hr {
    margin: 0.75rem auto 1rem auto;
    width: 3.5625rem;
    border-top: 6px solid  #023440;
}

section.hero-story .sm-wrapper .contents hr + div {
    margin-bottom: 2.375rem;
}

section.hero-story .sm-wrapper .contents hr + div p {
    text-align: center;
    font-size: 1.0125rem;
    list-style: none;
    font-style: italic;
}

section.hero-story .sm-wrapper .video {
    width: 70%;
    display: block;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

section.hero-story .sm-wrapper .video img {
    display: block;
    width: 100%;
}

section.hero-story .sm-wrapper .video::after {
    position: absolute;
    content: '';
    display: block;
    width: 4.75rem;
    height: 4.75rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: url(../imgs/ico/play.png) center no-repeat;
}

section.hero-story .sm-wrapper .video:hover {
    cursor: pointer;
    opacity: 0.9;
}
/*******social share*****************************/
/* Shared */
.loginBtn {
    display: inline-block;
    width: 97%;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: center;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 1.0375rem;
    font-family: helveticaneue-roman, Arial, sans-serif;
    color: #FFF;
}
.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}
.loginBtn:focus {
    outline: none;
}
.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
}
.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}
.orbox{
    margin: 0.001rem auto 2rem auto;
    width: 9.5625rem;
    border-bottom: 6px solid  #023440
}

.orword{
    font-size: 1.0375rem;
    font-family: helveticaneue-roman, Arial, sans-serif;
    text-align :center;
    position: relative;

    background: #d0d6d2  1.6875rem center no-repeat;
    height: 2.3125rem;
    display: inline-block;
    padding: 0 1.75rem 0 1.1125rem;
    line-height: 2.3125rem;
    color:   #023440 ;
    font-size: 1.375rem;
    text-decoration: none;
    -webkit-text-transform: uppercase;
    -moz-text-transform: uppercase;
    -o-text-transform: uppercase;
    -ms-text-transform: uppercase;
    text-transform: uppercase;
    font-family: tradegothiclts-bold, Arial, sans-serif;
    -webkit-transform: translate(0, 50%);
    -moz-transform: translate(0, 50%);
    -o-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    transform: translate(0, 50%);
    /*box-shadow: 2.875rem 0 0 0rem #fff, -2.875rem 0 0 0rem #fff;*/
    top: 0.3125rem;
}
/******* end social share********************/

/*********************breadcrumb*******************/


section.breadcrumb-wrapper {
    padding: 11px 0;
}

section.breadcrumb-wrapper .breadcrumb-contents{
    max-width: 770px;
    width: 95%;
    margin: 0px auto;
    position: relative;
}

/* Style the list */
ol.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    font-family: helveticaneue-roman, Arial, sans-serif;
    font-size: 1.0375rem;
    color:  #023440;
    text-align: left;
    font-weight: bold;
}

/* Style the user contents */
section.breadcrumb-wrapper .breadcrumb-contents .user-contents{

    font-family: helveticaneue-roman, Arial, sans-serif;
    font-size: 0.8375rem;
    color: #023440;
    text-align: right;
    font-weight: bold;
}

/* Display list items side by side */
ol.breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ol.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
}

/* Add a color to all links inside the list */
ol.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ol.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/*********************end breadcrumb***************/
.add-word{
    position: relative;
    margin: 0 auto;
    background:   #023440  1.6875rem center no-repeat;
    height: 2.3125rem;
    display: inline-block;
    padding: 0 1.75rem 0 2.1125rem;
    line-height: 2.3125rem;
    color: #d0d6d2;
    font-size: 0.875rem;
    text-decoration: none;
    -webkit-text-transform: uppercase;
    -moz-text-transform: uppercase;
    -o-text-transform: uppercase;
    -ms-text-transform: uppercase;
    text-transform: uppercase;
    font-family: tradegothiclts-bold, Arial, sans-serif;
    -webkit-transform: translate(0, 50%);
    -moz-transform: translate(0, 50%);
    -o-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    transform: translate(0, 50%);
    /*box-shadow: 2.875rem 0 0 0rem #fff, -2.875rem 0 0 0rem #fff;*/
    top: 0.3125rem;
}
section.hero-story span.welcome a.link,
section.hero-story span.correct a.link-correct,
section.hero-story span.incorrect a.link-incorrect {

    margin: 0 auto;
    background:   #023440  1.6875rem center no-repeat;
    height: 2.3125rem;
    display: inline-block;
    padding: 0 0.75rem 0 0.75rem;
    line-height:  2.5125rem;
    color: #d0d6d2;
    font-size: 0.875rem;
    text-decoration: none;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: tradegothiclts-bold, Arial, sans-serif;

    /*box-shadow: 2.875rem 0 0 0rem #fff, -2.875rem 0 0 0rem #fff;*/

}

section.hero-story div.options-login{
    margin-bottom: 15%;
}
section.hero-story span.remember{
    float:left;
}
section.hero-story span.forgot{
    float:right;

}
.add-word:hover {
    background-color: #3FA7F6;
}

section.hero-story .sm-wrapper .random {
    position: relative;
    margin: 0 auto;
    background:   #023440 url(../imgs/ico/random.png) left 1.6875rem center no-repeat;
    height: 2.3125rem;
    display: inline-block;
    padding: 0 1.75rem 0 3.3125rem;
    line-height: 2.3125rem;
    color: #d0d6d2;
    font-size: 0.875rem;
    text-decoration: none;
    -webkit-text-transform: uppercase;
    -moz-text-transform: uppercase;
    -o-text-transform: uppercase;
    -ms-text-transform: uppercase;
    text-transform: uppercase;
    font-family: tradegothiclts-bold, Arial, sans-serif;
    -webkit-transform: translate(0, 50%);
    -moz-transform: translate(0, 50%);
    -o-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    transform: translate(0, 50%);
    /*box-shadow: 2.875rem 0 0 0rem #fff, -2.875rem 0 0 0rem #fff;*/
    top: 0.3125rem;
}
.show  {
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    height: 30px;

}
.language{
    color:  #023440;
    font-size: 0.9125rem;
    text-decoration: none;
    font-weight: bold;
}
.tab-propose{
    margin: auto;
    min-width: 50%;
}
.colon-propose{
    width: 45%;
}

.type{
    float:right;
}
.main{
    font-weight: bold;
}
.detail{
    font-family: tradegothiclts-bold, Arial, sans-serif;
    color:  #023440;
    font-size: 0.9125rem;
    text-decoration: none;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
    background-color: #d0d6d2;
}
.detail:hover{
    background-color: #3FA7F6;
}
section.hero-story .sm-wrapper .random:hover  {
    background-color: #3FA7F6;
}

section.hero-story.formulaire .contents h2 {
    font-size: 2.3125rem;
}

section.hero-story.formulaire .contents form .social-connect{
    display: inline-block;
    width: 84%;
    font-size: 0;
}

section.hero-story.formulaire .contents form .field {
    position: relative;
    display: inline-block;
    padding: 0 1.5%;
    margin-bottom: 0.625rem;
    vertical-align: top;
}

section.hero-story.formulaire .contents form .field input, section.hero-story.formulaire .contents form .field textarea {
    width: 100%;
    box-sizing: border-box;
    border: 0px;
    font-family: tradegothiclts-bold, Arial, sans-serif;
    font-size: 1.0925rem;
    color: #828281;
    padding: 0 1rem;

    background: #d0d6d2;
    border-radius: 0px;
}

section.hero-story.formulaire .contents form .field input::-webkit-input-placeholder, section.hero-story.formulaire .contents form .field textarea::-webkit-input-placeholder {
    color: #828281;
    opacity: 1;
}

section.hero-story.formulaire .contents form .field input::-moz-placeholder, section.hero-story.formulaire .contents form .field textarea::-moz-placeholder {
    color: #828281;
    opacity: 1;
}

section.hero-story.formulaire .contents form .field input::-ms-input-placeholder, section.hero-story.formulaire .contents form .field textarea::-ms-input-placeholder {
    color: #828281;
    opacity: 1;
}

section.hero-story.formulaire .contents form .field input {
    height: 2.3125rem;
    background-color: white;
}

section.hero-story.formulaire .contents form .field textarea {
    overflow: hidden;
    padding-top: 0.625rem;
    height: 5.125rem;
    background-color: white;

}

section.hero-story.formulaire .contents form .field.nom,
section.hero-story.formulaire .contents form .field.prenom,
section.hero-story.formulaire .contents form .field.email {
    width: 33.3%;
}

section.hero-story.formulaire .contents form .field.definition,
section.hero-story.formulaire .contents form .field.exemple {
    width: 50%;
}

section.hero-story.formulaire .contents form .field.definition {
    padding-right: 0.8%;
}

section.hero-story.formulaire .contents form .field.exemple {
    padding-left: 0.8%;
}

section.hero-story.formulaire .contents form .field.url {
    width: 100%;
}

section.hero-story.formulaire .contents form .field label.error{
    font-size: 0.6875rem;
    font-family: helveticaneue-roman, Arial, sans-serif;
    color: red;
    display: block;
    width: 100%;
    text-align: left;
    color: #fff;
    padding: 0.3125rem;
    box-sizing: border-box;
}

section.hero-story.formulaire .contents form .action .envoyer {
    border: 0;
    position: relative;
    margin: 0 auto;
    background: #d0d6d2 url(../imgs/ico/send.png) left 1.6875rem center no-repeat;
    height: 2.3125rem;
    display: inline-block;
    padding: 0 2rem 0 3.5625rem;
    line-height: 2.3125rem;
    color:  #023440;
    font-size: 0.875rem;
    text-decoration: none;
    -webkit-text-transform: uppercase;
    -moz-text-transform: uppercase;
    -o-text-transform: uppercase;
    -ms-text-transform: uppercase;
    text-transform: uppercase;
    font-family: tradegothiclts-bold, Arial, sans-serif;
    -webkit-transform: translate(0, 50%);
    -moz-transform: translate(0, 50%);
    -o-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    transform: translate(0, 50%);
    box-shadow: 2.875rem 0 0 0rem #fff, -2.875rem 0 0 0rem #fff;
    top: 0.3125rem;
    border-radius: 0px;
}

section.hero-story.formulaire .contents form .action .envoyer:hover {
    cursor: pointer;
    background-color: #614331;
}

section.stories {
    background: #d0d6d2;
    padding-top: 1.875rem;
    padding-bottom: 2.3125rem;
    font-size: 0;
    text-align: center;
    height: 400px;

}

section.stories .filter {
    text-align: center;
    margin: 0 0 1.875rem 0;
}

section.stories .filter ul {
    display: inline-block;
    font-size: 0;
}

section.stories .filter ul li {
    list-style: none;
    display: inline-block;
}

section.stories .filter ul li a {
    display: inline-block;
    font-size: 0.75rem;
    font-family: tradegothiclts-bold, Arial, sans-serif;
    color: #d5d0cd;
    text-decoration: none;
    -webkit-text-transform: uppercase;
    -moz-text-transform: uppercase;
    -o-text-transform: uppercase;
    -ms-text-transform: uppercase;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    height: 1.875rem;
    line-height: 2.0625rem;
    padding: 0 0.9375rem;
    background:  #023440;
}

section.stories .filter ul li:first-child a {
    padding: 0 0.6875rem;
}

section.stories .filter ul li + li {
    margin-left: 0.625rem;
}

section.stories .filter ul li:hover a, section.stories .filter ul li.selected a {
    background: #3FA7F6;
    color:  #023440;
}

section.stories .results {
    margin: 0 -1%;
}

section.stories .story {
    position: relative;
    float:left;
    width: 31%;
    margin: 0 1.3% 2.125rem 1%;
    background:  #023440 top repeat-x;
    text-align: center;
    display: block;
}

section.stories .story .wrp {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-top: 4.375rem;
}

section.stories .story .timestamp {
    display: none;
}

section.stories .story .share-media {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
}

section.stories .story .share-media .like,
section.stories .story .share-media .facebook,
section.stories .story .share-media .twitter {
    font-family: tradegothiclts-bold, Arial, sans-serif;
    font-size: 0.75rem;
    color: #023440;
    display: inline-block;
    height: 1.4375rem;
    line-height: 1.625rem;
    padding: 0 0.4375rem 0 1.5rem;
    background: #f2f2f2 url(../imgs/ico/like-sm.png) left 0.175rem  center no-repeat;
    cursor: pointer;
    vertical-align: middle;
}

section.stories .story .share-media .like + span,
section.stories .story .share-media .facebook + span,
section.stories .story .share-media .twitter + span {
    margin-left: 0.3125rem;

}

section.stories .story .share-media .like:hover,
section.stories .story .share-media .facebook:hover,
section.stories .story .share-media .twitter:hover {
    background-color: #dfdfdf;
    cursor: pointer;
}

section.stories .story .share-media .facebook,
section.stories .story .share-media .twitter {
    padding: 0;
    width: 1.5625rem;
    background-size: 0.5625rem auto;
}

section.stories .story .share-media .like {
    background-size: 1.2125rem auto;
}

section.stories .story .share-media .facebook {
    background: #f2f2f2 url(../imgs/ico/facebook.png) center no-repeat;
    background-size: 1.2375rem auto;
}

section.stories .story .share-media .twitter {
    background: #f2f2f2 url(../imgs/ico/twitter-sm.png) center no-repeat;
    background-size: 1.25rem auto;
}

section.stories .story h2 {
    font-family: tradegothiclts-bold, Arial, sans-serif;
    color:#d0d6d2;
    -webkit-text-transform: uppercase;
    -moz-text-transform: uppercase;
    -o-text-transform: uppercase;
    -ms-text-transform: uppercase;
    text-transform: uppercase;
    font-size: 2.1875rem;
    font-weight: normal;
}

section.stories .story p, section.stories .story ul li {
    font-family: helveticaneue-roman, Arial, sans-serif;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #d0d6d2;
    padding: 0 0.9375rem;
}

section.stories .story hr {
    margin: 2.125rem auto 1.875rem auto;
    width: 3.5625rem;
    border-top: 6px solid #563d2b;
}

section.stories .story hr + div {
    margin-bottom: 2.375rem;
}

section.stories .story hr + div p {
    padding-left: 9%;
    text-align: left;
    font-size: 0.8125rem;
    list-style: none;
    font-style: italic;
}

section.stories .story .video {
    display: block;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

section.stories .story .video img {
    display: block;
    width: 100%;
}

section.stories .story .video::after {
    position: absolute;
    content: '';
    display: block;
    width: 4.75rem;
    height: 4.75rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: url(../imgs/ico/play.png) center no-repeat;
}

section.stories .story .video:hover {
    cursor: pointer;
    opacity: 0.9;
}

section.stories .story.has-video .video::before {
    position: absolute;
    display: block;
    content: '';
    border: 10px solid transparent;
    border-top-color: #f9b417;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

section.stories .story:not(.has-video) {
    min-height: 20rem;
}

section.stories .plus {
    position: relative;
    margin: 0 auto;
    background:  #023440;
    height: 2.625rem;
    display: inline-block;
    padding: 0 2rem;
    line-height: 2.625rem;
    color: #d0d6d2;
    font-size: 1.375rem;
    text-decoration: none;
    -webkit-text-transform: uppercase;
    -moz-text-transform: uppercase;
    -o-text-transform: uppercase;
    -ms-text-transform: uppercase;
    text-transform: uppercase;
    font-family: tradegothiclts-bold, Arial, sans-serif;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

section.stories .plus:hover {
    background-color:  #023440;
    color: #3FA7F6;
}

body {
    color: #333333;
    font-family: 'Arial';
    width: 100%;
    height: 100%;
}

.wrapper {
    max-width: 1024px;
    width: 95%;
    margin: 0px auto;
    position: relative;
}

.sm-wrapper {
    max-width: 770px;
    width: 95%;
    margin: 0px auto;
    position: relative;
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #023440;
}

/* Float the list items side by side */
/*ul.topnav li {float: left;}*/
li.top-right  {float: right;}
li.top-left  {float: left;}


/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color:#d0d6d2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.02rem;
    font-family: tradegothiclts-bold, Arial, sans-serif;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #3FA7F6;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

body {
    background: #eee;
    font: 12px Lucida sans, Arial, Helvetica, sans-serif;
    color: #333;
    text-align: center;
}

a {
    color: #2A679F;
}
/*========*/

.form-wrapper {
    background-color: #f6f6f6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eae8e8));
    background-image: -webkit-linear-gradient(top, #f6f6f6, #eae8e8);
    background-image: -moz-linear-gradient(top, #f6f6f6, #eae8e8);
    background-image: -ms-linear-gradient(top, #f6f6f6, #eae8e8);
    background-image: -o-linear-gradient(top, #f6f6f6, #eae8e8);
    background-image: linear-gradient(top, #f6f6f6, #eae8e8);
    border-color: #dedede #bababa #aaa #bababa;
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
    -moz-box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
    box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
    margin: 40px auto;
    overflow: hidden;
    padding: 8px;
    width: 450px;
}

.form-wrapper #search {
    border: 1px solid #CCC;
    -webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
    -moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
    box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #999;
    float: left;
    font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
    height: 20px;
    padding: 10px;
    width: 320px;
}

.form-wrapper #search:focus {
    border-color: #aaa;
    -webkit-box-shadow: 0 1px 1px #bbb inset;
    -moz-box-shadow: 0 1px 1px #bbb inset;
    box-shadow: 0 1px 1px #bbb inset;
    outline: 0;
}

.form-wrapper #search:-moz-placeholder,
.form-wrapper #search:-ms-input-placeholder,
.form-wrapper #search::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
}

.form-wrapper #submit {
    background-color: #0483a0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
    background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
    background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
    background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
    background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
    background-image: linear-gradient(top, #31b2c3, #0483a0);
    border: 1px solid #00748f;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
    color: #fafafa;
    cursor: pointer;
    height: 70px;
    font: 15px Arial, Helvetica;
    padding: 0;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
    width: 100px;
}

input[type="radio"]{
    margin-left: 10px;
}
.choice
{
    float: left;
    margin-top: 12px;
}

.form-wrapper #submit:hover,
.form-wrapper #submit:focus {
    background-color: #31b2c3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0483a0), to(#31b2c3));
    background-image: -webkit-linear-gradient(top, #0483a0, #31b2c3);
    background-image: -moz-linear-gradient(top, #0483a0, #31b2c3);
    background-image: -ms-linear-gradient(top, #0483a0, #31b2c3);
    background-image: -o-linear-gradient(top, #0483a0, #31b2c3);
    background-image: linear-gradient(top, #0483a0, #31b2c3);
}

.form-wrapper #submit:active {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    outline: 0;
}

.form-wrapper #submit::-moz-focus-inner {
    border: 0;
}
.select-choice{
    background-color: #d0d6d2;
    font-family: helveticaneue-roman, Arial, sans-serif;
    color:  #023440;
    font-size: 0.8165rem;
    height: 30px;
}
