html {
  font-size: 98%;
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 1279px) {
  html {
    font-size: 99.92188%;
  }
}

@media screen and (max-width: 1278px) {
  html {
    font-size: 99.84375%;
  }
}

@media screen and (max-width: 1277px) {
  html {
    font-size: 99.76563%;
  }
}

@media screen and (max-width: 1276px) {
  html {
    font-size: 99.6875%;
  }
}

@media screen and (max-width: 1275px) {
  html {
    font-size: 99.60938%;
  }
}

@media screen and (max-width: 1274px) {
  html {
    font-size: 99.53125%;
  }
}

@media screen and (max-width: 1273px) {
  html {
    font-size: 99.45313%;
  }
}

@media screen and (max-width: 1272px) {
  html {
    font-size: 99.375%;
  }
}

@media screen and (max-width: 1271px) {
  html {
    font-size: 99.29688%;
  }
}

@media screen and (max-width: 1270px) {
  html {
    font-size: 99.21875%;
  }
}

@media screen and (max-width: 1269px) {
  html {
    font-size: 99.14063%;
  }
}

@media screen and (max-width: 1268px) {
  html {
    font-size: 99.0625%;
  }
}

@media screen and (max-width: 1267px) {
  html {
    font-size: 98.98438%;
  }
}

@media screen and (max-width: 1266px) {
  html {
    font-size: 98.90625%;
  }
}

@media screen and (max-width: 1265px) {
  html {
    font-size: 98.82813%;
  }
}

@media screen and (max-width: 1264px) {
  html {
    font-size: 98.75%;
  }
}

@media screen and (max-width: 1263px) {
  html {
    font-size: 98.67188%;
  }
}

@media screen and (max-width: 1262px) {
  html {
    font-size: 98.59375%;
  }
}

@media screen and (max-width: 1261px) {
  html {
    font-size: 98.51563%;
  }
}

@media screen and (max-width: 1260px) {
  html {
    font-size: 98.4375%;
  }
}

@media screen and (max-width: 1259px) {
  html {
    font-size: 98.35938%;
  }
}

@media screen and (max-width: 1258px) {
  html {
    font-size: 98.28125%;
  }
}

@media screen and (max-width: 1257px) {
  html {
    font-size: 98.20313%;
  }
}

@media screen and (max-width: 1256px) {
  html {
    font-size: 98.125%;
  }
}

@media screen and (max-width: 1255px) {
  html {
    font-size: 98.04688%;
  }
}

@media screen and (max-width: 1254px) {
  html {
    font-size: 97.96875%;
  }
}

@media screen and (max-width: 1253px) {
  html {
    font-size: 97.89063%;
  }
}

@media screen and (max-width: 1252px) {
  html {
    font-size: 97.8125%;
  }
}

@media screen and (max-width: 1251px) {
  html {
    font-size: 97.73438%;
  }
}

@media screen and (max-width: 1250px) {
  html {
    font-size: 97.65625%;
  }
}

@media screen and (max-width: 1249px) {
  html {
    font-size: 97.57813%;
  }
}

@media screen and (max-width: 1248px) {
  html {
    font-size: 97.5%;
  }
}

@media screen and (max-width: 1247px) {
  html {
    font-size: 97.42188%;
  }
}

@media screen and (max-width: 1246px) {
  html {
    font-size: 97.34375%;
  }
}

@media screen and (max-width: 1245px) {
  html {
    font-size: 97.26563%;
  }
}

@media screen and (max-width: 1244px) {
  html {
    font-size: 97.1875%;
  }
}

@media screen and (max-width: 1243px) {
  html {
    font-size: 97.10938%;
  }
}

@media screen and (max-width: 1242px) {
  html {
    font-size: 97.03125%;
  }
}

@media screen and (max-width: 1241px) {
  html {
    font-size: 96.95313%;
  }
}

@media screen and (max-width: 1240px) {
  html {
    font-size: 96.875%;
  }
}

@media screen and (max-width: 1239px) {
  html {
    font-size: 96.79688%;
  }
}

@media screen and (max-width: 1238px) {
  html {
    font-size: 96.71875%;
  }
}

@media screen and (max-width: 1237px) {
  html {
    font-size: 96.64063%;
  }
}

@media screen and (max-width: 1236px) {
  html {
    font-size: 96.5625%;
  }
}

@media screen and (max-width: 1235px) {
  html {
    font-size: 96.48438%;
  }
}

@media screen and (max-width: 1234px) {
  html {
    font-size: 96.40625%;
  }
}

@media screen and (max-width: 1233px) {
  html {
    font-size: 96.32813%;
  }
}

@media screen and (max-width: 1232px) {
  html {
    font-size: 96.25%;
  }
}

@media screen and (max-width: 1231px) {
  html {
    font-size: 96.17188%;
  }
}

@media screen and (max-width: 1230px) {
  html {
    font-size: 96.09375%;
  }
}

@media screen and (max-width: 1229px) {
  html {
    font-size: 96.01563%;
  }
}

@media screen and (max-width: 1228px) {
  html {
    font-size: 95.9375%;
  }
}

@media screen and (max-width: 1227px) {
  html {
    font-size: 95.85938%;
  }
}

@media screen and (max-width: 1226px) {
  html {
    font-size: 95.78125%;
  }
}

@media screen and (max-width: 1225px) {
  html {
    font-size: 95.70313%;
  }
}

@media screen and (max-width: 1224px) {
  html {
    font-size: 95.625%;
  }
}

@media screen and (max-width: 1223px) {
  html {
    font-size: 95.54688%;
  }
}

@media screen and (max-width: 1222px) {
  html {
    font-size: 95.46875%;
  }
}

@media screen and (max-width: 1221px) {
  html {
    font-size: 95.39063%;
  }
}

@media screen and (max-width: 1220px) {
  html {
    font-size: 95.3125%;
  }

  .pub-amazone{
    display: none !important;
  }
}

@media screen and (max-width: 1219px) {
  html {
    font-size: 95.23438%;
  }
}

@media screen and (max-width: 1218px) {
  html {
    font-size: 95.15625%;
  }
}

@media screen and (max-width: 1217px) {
  html {
    font-size: 95.07813%;
  }
}

@media screen and (max-width: 1216px) {
  html {
    font-size: 95%;
  }
}

@media screen and (max-width: 1215px) {
  html {
    font-size: 94.92188%;
  }
}

@media screen and (max-width: 1214px) {
  html {
    font-size: 94.84375%;
  }
}

@media screen and (max-width: 1213px) {
  html {
    font-size: 94.76563%;
  }
}

@media screen and (max-width: 1212px) {
  html {
    font-size: 94.6875%;
  }
}

@media screen and (max-width: 1211px) {
  html {
    font-size: 94.60938%;
  }
}

@media screen and (max-width: 1210px) {
  html {
    font-size: 94.53125%;
  }
}

@media screen and (max-width: 1209px) {
  html {
    font-size: 94.45313%;
  }
}

@media screen and (max-width: 1208px) {
  html {
    font-size: 94.375%;
  }
}

@media screen and (max-width: 1207px) {
  html {
    font-size: 94.29688%;
  }
}

@media screen and (max-width: 1206px) {
  html {
    font-size: 94.21875%;
  }
}

@media screen and (max-width: 1205px) {
  html {
    font-size: 94.14063%;
  }
}

@media screen and (max-width: 1204px) {
  html {
    font-size: 94.0625%;
  }
}

@media screen and (max-width: 1203px) {
  html {
    font-size: 93.98438%;
  }
}

@media screen and (max-width: 1202px) {
  html {
    font-size: 93.90625%;
  }
}

@media screen and (max-width: 1201px) {
  html {
    font-size: 93.82813%;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 93.75%;
  }
}

@media screen and (max-width: 1199px) {
  html {
    font-size: 93.67188%;
  }
}

@media screen and (max-width: 1198px) {
  html {
    font-size: 93.59375%;
  }
}

@media screen and (max-width: 1197px) {
  html {
    font-size: 93.51563%;
  }
}

@media screen and (max-width: 1196px) {
  html {
    font-size: 93.4375%;
  }
}

@media screen and (max-width: 1195px) {
  html {
    font-size: 93.35938%;
  }
}

@media screen and (max-width: 1194px) {
  html {
    font-size: 93.28125%;
  }
}

@media screen and (max-width: 1193px) {
  html {
    font-size: 93.20313%;
  }
}

@media screen and (max-width: 1192px) {
  html {
    font-size: 93.125%;
  }
}

@media screen and (max-width: 1191px) {
  html {
    font-size: 93.04688%;
  }
}

@media screen and (max-width: 1190px) {
  html {
    font-size: 92.96875%;
  }
}

@media screen and (max-width: 1189px) {
  html {
    font-size: 92.89063%;
  }
}

@media screen and (max-width: 1188px) {
  html {
    font-size: 92.8125%;
  }
}

@media screen and (max-width: 1187px) {
  html {
    font-size: 92.73438%;
  }
}

@media screen and (max-width: 1186px) {
  html {
    font-size: 92.65625%;
  }
}

@media screen and (max-width: 1185px) {
  html {
    font-size: 92.57813%;
  }
}

@media screen and (max-width: 1184px) {
  html {
    font-size: 92.5%;
  }
}

@media screen and (max-width: 1183px) {
  html {
    font-size: 92.42188%;
  }
}

@media screen and (max-width: 1182px) {
  html {
    font-size: 92.34375%;
  }
}

@media screen and (max-width: 1181px) {
  html {
    font-size: 92.26563%;
  }
}

@media screen and (max-width: 1180px) {
  html {
    font-size: 92.1875%;
  }
}

@media screen and (max-width: 1179px) {
  html {
    font-size: 92.10938%;
  }
}

@media screen and (max-width: 1178px) {
  html {
    font-size: 92.03125%;
  }
}

@media screen and (max-width: 1177px) {
  html {
    font-size: 91.95313%;
  }
}

@media screen and (max-width: 1176px) {
  html {
    font-size: 91.875%;
  }
}

@media screen and (max-width: 1175px) {
  html {
    font-size: 91.79688%;
  }
}

@media screen and (max-width: 1174px) {
  html {
    font-size: 91.71875%;
  }
}

@media screen and (max-width: 1173px) {
  html {
    font-size: 91.64063%;
  }
}

@media screen and (max-width: 1172px) {
  html {
    font-size: 91.5625%;
  }
}

@media screen and (max-width: 1171px) {
  html {
    font-size: 91.48438%;
  }
}

@media screen and (max-width: 1170px) {
  html {
    font-size: 91.40625%;
  }
}

@media screen and (max-width: 1169px) {
  html {
    font-size: 91.32813%;
  }
}

@media screen and (max-width: 1168px) {
  html {
    font-size: 91.25%;
  }
}

@media screen and (max-width: 1167px) {
  html {
    font-size: 91.17188%;
  }
}

@media screen and (max-width: 1166px) {
  html {
    font-size: 91.09375%;
  }
}

@media screen and (max-width: 1165px) {
  html {
    font-size: 91.01563%;
  }
}

@media screen and (max-width: 1164px) {
  html {
    font-size: 90.9375%;
  }
}

@media screen and (max-width: 1163px) {
  html {
    font-size: 90.85938%;
  }
}

@media screen and (max-width: 1162px) {
  html {
    font-size: 90.78125%;
  }
}

@media screen and (max-width: 1161px) {
  html {
    font-size: 90.70313%;
  }
}

@media screen and (max-width: 1160px) {
  html {
    font-size: 90.625%;
  }
}

@media screen and (max-width: 1159px) {
  html {
    font-size: 90.54688%;
  }
}

@media screen and (max-width: 1158px) {
  html {
    font-size: 90.46875%;
  }
}

@media screen and (max-width: 1157px) {
  html {
    font-size: 90.39063%;
  }
}

@media screen and (max-width: 1156px) {
  html {
    font-size: 90.3125%;
  }
}

@media screen and (max-width: 1155px) {
  html {
    font-size: 90.23438%;
  }
}

@media screen and (max-width: 1154px) {
  html {
    font-size: 90.15625%;
  }
}

@media screen and (max-width: 1153px) {
  html {
    font-size: 90.07813%;
  }
}

@media screen and (max-width: 1152px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 1151px) {
  html {
    font-size: 89.92188%;
  }
}

@media screen and (max-width: 1150px) {
  html {
    font-size: 89.84375%;
  }
}

@media screen and (max-width: 1149px) {
  html {
    font-size: 89.76563%;
  }
}

@media screen and (max-width: 1148px) {
  html {
    font-size: 89.6875%;
  }
}

@media screen and (max-width: 1147px) {
  html {
    font-size: 89.60938%;
  }
}

@media screen and (max-width: 1146px) {
  html {
    font-size: 89.53125%;
  }
}

@media screen and (max-width: 1145px) {
  html {
    font-size: 89.45313%;
  }
}

@media screen and (max-width: 1144px) {
  html {
    font-size: 89.375%;
  }
}

@media screen and (max-width: 1143px) {
  html {
    font-size: 89.29688%;
  }
}

@media screen and (max-width: 1142px) {
  html {
    font-size: 89.21875%;
  }
}

@media screen and (max-width: 1141px) {
  html {
    font-size: 89.14063%;
  }
}

@media screen and (max-width: 1140px) {
  html {
    font-size: 89.0625%;
  }
}

@media screen and (max-width: 1139px) {
  html {
    font-size: 88.98438%;
  }
}

@media screen and (max-width: 1138px) {
  html {
    font-size: 88.90625%;
  }
}

@media screen and (max-width: 1137px) {
  html {
    font-size: 88.82813%;
  }
}

@media screen and (max-width: 1136px) {
  html {
    font-size: 88.75%;
  }
}

@media screen and (max-width: 1135px) {
  html {
    font-size: 88.67188%;
  }
}

@media screen and (max-width: 1134px) {
  html {
    font-size: 88.59375%;
  }
}

@media screen and (max-width: 1133px) {
  html {
    font-size: 88.51563%;
  }
}

@media screen and (max-width: 1132px) {
  html {
    font-size: 88.4375%;
  }
}

@media screen and (max-width: 1131px) {
  html {
    font-size: 88.35938%;
  }
}

@media screen and (max-width: 1130px) {
  html {
    font-size: 88.28125%;
  }
}

@media screen and (max-width: 1129px) {
  html {
    font-size: 88.20313%;
  }
}

@media screen and (max-width: 1128px) {
  html {
    font-size: 88.125%;
  }
}

@media screen and (max-width: 1127px) {
  html {
    font-size: 88.04688%;
  }
}

@media screen and (max-width: 1126px) {
  html {
    font-size: 87.96875%;
  }
}

@media screen and (max-width: 1125px) {
  html {
    font-size: 87.89063%;
  }
}

@media screen and (max-width: 1124px) {
  html {
    font-size: 87.8125%;
  }
}

@media screen and (max-width: 1123px) {
  html {
    font-size: 87.73438%;
  }
}

@media screen and (max-width: 1122px) {
  html {
    font-size: 87.65625%;
  }
}

@media screen and (max-width: 1121px) {
  html {
    font-size: 87.57813%;
  }
}

@media screen and (max-width: 1120px) {
  html {
    font-size: 87.5%;
  }
}

@media screen and (max-width: 1119px) {
  html {
    font-size: 87.42188%;
  }
}

@media screen and (max-width: 1118px) {
  html {
    font-size: 87.34375%;
  }
}

@media screen and (max-width: 1117px) {
  html {
    font-size: 87.26563%;
  }
}

@media screen and (max-width: 1116px) {
  html {
    font-size: 87.1875%;
  }
}

@media screen and (max-width: 1115px) {
  html {
    font-size: 87.10938%;
  }
}

@media screen and (max-width: 1114px) {
  html {
    font-size: 87.03125%;
  }
}

@media screen and (max-width: 1113px) {
  html {
    font-size: 86.95313%;
  }
}

@media screen and (max-width: 1112px) {
  html {
    font-size: 86.875%;
  }
}

@media screen and (max-width: 1111px) {
  html {
    font-size: 86.79688%;
  }
}

@media screen and (max-width: 1110px) {
  html {
    font-size: 86.71875%;
  }
}

@media screen and (max-width: 1109px) {
  html {
    font-size: 86.64063%;
  }
}

@media screen and (max-width: 1108px) {
  html {
    font-size: 86.5625%;
  }
}

@media screen and (max-width: 1107px) {
  html {
    font-size: 86.48438%;
  }
}

@media screen and (max-width: 1106px) {
  html {
    font-size: 86.40625%;
  }
}

@media screen and (max-width: 1105px) {
  html {
    font-size: 86.32813%;
  }
}

@media screen and (max-width: 1104px) {
  html {
    font-size: 86.25%;
  }
}

@media screen and (max-width: 1103px) {
  html {
    font-size: 86.17188%;
  }
}

@media screen and (max-width: 1102px) {
  html {
    font-size: 86.09375%;
  }
}

@media screen and (max-width: 1101px) {
  html {
    font-size: 86.01563%;
  }
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 85.9375%;
  }
}

@media screen and (max-width: 1099px) {
  html {
    font-size: 85.85938%;
  }
}

@media screen and (max-width: 1098px) {
  html {
    font-size: 85.78125%;
  }
}

@media screen and (max-width: 1097px) {
  html {
    font-size: 85.70313%;
  }
}

@media screen and (max-width: 1096px) {
  html {
    font-size: 85.625%;
  }
}

@media screen and (max-width: 1095px) {
  html {
    font-size: 85.54688%;
  }
}

@media screen and (max-width: 1094px) {
  html {
    font-size: 85.46875%;
  }
}

@media screen and (max-width: 1093px) {
  html {
    font-size: 85.39063%;
  }
}

@media screen and (max-width: 1092px) {
  html {
    font-size: 85.3125%;
  }
}

@media screen and (max-width: 1091px) {
  html {
    font-size: 85.23438%;
  }
}

@media screen and (max-width: 1090px) {
  html {
    font-size: 85.15625%;
  }
}

@media screen and (max-width: 1089px) {
  html {
    font-size: 85.07813%;
  }
}

@media screen and (max-width: 1088px) {
  html {
    font-size: 85%;
  }
}

@media screen and (max-width: 1087px) {
  html {
    font-size: 84.92188%;
  }
}

@media screen and (max-width: 1086px) {
  html {
    font-size: 84.84375%;
  }
}

@media screen and (max-width: 1085px) {
  html {
    font-size: 84.76563%;
  }
}

@media screen and (max-width: 1084px) {
  html {
    font-size: 84.6875%;
  }
}

@media screen and (max-width: 1083px) {
  html {
    font-size: 84.60938%;
  }
}

@media screen and (max-width: 1082px) {
  html {
    font-size: 84.53125%;
  }
}

@media screen and (max-width: 1081px) {
  html {
    font-size: 84.45313%;
  }
}

@media screen and (max-width: 1080px) {
  html {
    font-size: 84.375%;
  }
}

@media screen and (max-width: 1079px) {
  html {
    font-size: 84.29688%;
  }
}

@media screen and (max-width: 1078px) {
  html {
    font-size: 84.21875%;
  }
}

@media screen and (max-width: 1077px) {
  html {
    font-size: 84.14063%;
  }
}

@media screen and (max-width: 1076px) {
  html {
    font-size: 84.0625%;
  }
}

@media screen and (max-width: 1075px) {
  html {
    font-size: 83.98438%;
  }
}

@media screen and (max-width: 1074px) {
  html {
    font-size: 83.90625%;
  }
}

@media screen and (max-width: 1073px) {
  html {
    font-size: 83.82813%;
  }
}

@media screen and (max-width: 1072px) {
  html {
    font-size: 83.75%;
  }
}

@media screen and (max-width: 1071px) {
  html {
    font-size: 83.67188%;
  }
}

@media screen and (max-width: 1070px) {
  html {
    font-size: 83.59375%;
  }
}

@media screen and (max-width: 1069px) {
  html {
    font-size: 83.51563%;
  }
}

@media screen and (max-width: 1068px) {
  html {
    font-size: 83.4375%;
  }
}

@media screen and (max-width: 1067px) {
  html {
    font-size: 83.35938%;
  }
}

@media screen and (max-width: 1066px) {
  html {
    font-size: 83.28125%;
  }
}

@media screen and (max-width: 1065px) {
  html {
    font-size: 83.20313%;
  }
}

@media screen and (max-width: 1064px) {
  html {
    font-size: 83.125%;
  }
}

@media screen and (max-width: 1063px) {
  html {
    font-size: 83.04688%;
  }
}

@media screen and (max-width: 1062px) {
  html {
    font-size: 82.96875%;
  }
}

@media screen and (max-width: 1061px) {
  html {
    font-size: 82.89063%;
  }
}

@media screen and (max-width: 1060px) {
  html {
    font-size: 82.8125%;
  }
}

@media screen and (max-width: 1059px) {
  html {
    font-size: 82.73438%;
  }
}

@media screen and (max-width: 1058px) {
  html {
    font-size: 82.65625%;
  }
}

@media screen and (max-width: 1057px) {
  html {
    font-size: 82.57813%;
  }
}

@media screen and (max-width: 1056px) {
  html {
    font-size: 82.5%;
  }
}

@media screen and (max-width: 1055px) {
  html {
    font-size: 82.42188%;
  }
}

@media screen and (max-width: 1054px) {
  html {
    font-size: 82.34375%;
  }
}

@media screen and (max-width: 1053px) {
  html {
    font-size: 82.26563%;
  }
}

@media screen and (max-width: 1052px) {
  html {
    font-size: 82.1875%;
  }
}

@media screen and (max-width: 1051px) {
  html {
    font-size: 82.10938%;
  }
}

@media screen and (max-width: 1050px) {
  html {
    font-size: 82.03125%;
  }
}

@media screen and (max-width: 1049px) {
  html {
    font-size: 81.95313%;
  }
}

@media screen and (max-width: 1048px) {
  html {
    font-size: 81.875%;
  }
}

@media screen and (max-width: 1047px) {
  html {
    font-size: 81.79688%;
  }
}

@media screen and (max-width: 1046px) {
  html {
    font-size: 81.71875%;
  }
}

@media screen and (max-width: 1045px) {
  html {
    font-size: 81.64063%;
  }
}

@media screen and (max-width: 1044px) {
  html {
    font-size: 81.5625%;
  }
}

@media screen and (max-width: 1043px) {
  html {
    font-size: 81.48438%;
  }
}

@media screen and (max-width: 1042px) {
  html {
    font-size: 81.40625%;
  }
}

@media screen and (max-width: 1041px) {
  html {
    font-size: 81.32813%;
  }
}

@media screen and (max-width: 1040px) {
  html {
    font-size: 81.25%;
  }
}

@media screen and (max-width: 1039px) {
  html {
    font-size: 81.17188%;
  }
}

@media screen and (max-width: 1038px) {
  html {
    font-size: 81.09375%;
  }
}

@media screen and (max-width: 1037px) {
  html {
    font-size: 81.01563%;
  }
}

@media screen and (max-width: 1036px) {
  html {
    font-size: 80.9375%;
  }
}

@media screen and (max-width: 1035px) {
  html {
    font-size: 80.85938%;
  }
}

@media screen and (max-width: 1034px) {
  html {
    font-size: 80.78125%;
  }
}

@media screen and (max-width: 1033px) {
  html {
    font-size: 80.70313%;
  }
}

@media screen and (max-width: 1032px) {
  html {
    font-size: 80.625%;
  }
}

@media screen and (max-width: 1031px) {
  html {
    font-size: 80.54688%;
  }
}

@media screen and (max-width: 1030px) {
  html {
    font-size: 80.46875%;
  }
}

@media screen and (max-width: 1029px) {
  html {
    font-size: 80.39063%;
  }
}

@media screen and (max-width: 1028px) {
  html {
    font-size: 80.3125%;
  }
}

@media screen and (max-width: 1027px) {
  html {
    font-size: 80.23438%;
  }
}

@media screen and (max-width: 1026px) {
  html {
    font-size: 80.15625%;
  }
}

@media screen and (max-width: 1025px) {
  html {
    font-size: 80.07813%;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 1023px) {
  html {
    font-size: 99.90234%;
  }
}

@media screen and (max-width: 1022px) {
  html {
    font-size: 99.80469%;
  }
}

@media screen and (max-width: 1021px) {
  html {
    font-size: 99.70703%;
  }
}

@media screen and (max-width: 1020px) {
  html {
    font-size: 99.60938%;
  }
}

@media screen and (max-width: 1019px) {
  html {
    font-size: 99.51172%;
  }
}

@media screen and (max-width: 1018px) {
  html {
    font-size: 99.41406%;
  }
}

@media screen and (max-width: 1017px) {
  html {
    font-size: 99.31641%;
  }
}

@media screen and (max-width: 1016px) {
  html {
    font-size: 99.21875%;
  }
}

@media screen and (max-width: 1015px) {
  html {
    font-size: 99.12109%;
  }
}

@media screen and (max-width: 1014px) {
  html {
    font-size: 99.02344%;
  }
}

@media screen and (max-width: 1013px) {
  html {
    font-size: 98.92578%;
  }
}

@media screen and (max-width: 1012px) {
  html {
    font-size: 98.82813%;
  }
}

@media screen and (max-width: 1011px) {
  html {
    font-size: 98.73047%;
  }
}

@media screen and (max-width: 1010px) {
  html {
    font-size: 98.63281%;
  }
}

@media screen and (max-width: 1009px) {
  html {
    font-size: 98.53516%;
  }
}

@media screen and (max-width: 1008px) {
  html {
    font-size: 98.4375%;
  }
}

@media screen and (max-width: 1007px) {
  html {
    font-size: 98.33984%;
  }
}

@media screen and (max-width: 1006px) {
  html {
    font-size: 98.24219%;
  }
}

@media screen and (max-width: 1005px) {
  html {
    font-size: 98.14453%;
  }
}

@media screen and (max-width: 1004px) {
  html {
    font-size: 98.04688%;
  }
}

@media screen and (max-width: 1003px) {
  html {
    font-size: 97.94922%;
  }
}

@media screen and (max-width: 1002px) {
  html {
    font-size: 97.85156%;
  }
}

@media screen and (max-width: 1001px) {
  html {
    font-size: 97.75391%;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 97.65625%;
  }
}

@media screen and (max-width: 999px) {
  html {
    font-size: 97.55859%;
  }
}

@media screen and (max-width: 998px) {
  html {
    font-size: 97.46094%;
  }
}

@media screen and (max-width: 997px) {
  html {
    font-size: 97.36328%;
  }
}

@media screen and (max-width: 996px) {
  html {
    font-size: 97.26563%;
  }
}

@media screen and (max-width: 995px) {
  html {
    font-size: 97.16797%;
  }
}

@media screen and (max-width: 994px) {
  html {
    font-size: 97.07031%;
  }
}

@media screen and (max-width: 993px) {
  html {
    font-size: 96.97266%;
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 96.875%;
  }
}

@media screen and (max-width: 991px) {
  html {
    font-size: 96.77734%;
  }
}

@media screen and (max-width: 990px) {
  html {
    font-size: 96.67969%;
  }
}

@media screen and (max-width: 989px) {
  html {
    font-size: 96.58203%;
  }
}

@media screen and (max-width: 988px) {
  html {
    font-size: 96.48438%;
  }
}

@media screen and (max-width: 987px) {
  html {
    font-size: 96.38672%;
  }
}

@media screen and (max-width: 986px) {
  html {
    font-size: 96.28906%;
  }
}

@media screen and (max-width: 985px) {
  html {
    font-size: 96.19141%;
  }
}

@media screen and (max-width: 984px) {
  html {
    font-size: 96.09375%;
  }
}

@media screen and (max-width: 983px) {
  html {
    font-size: 95.99609%;
  }
}

@media screen and (max-width: 982px) {
  html {
    font-size: 95.89844%;
  }
}

@media screen and (max-width: 981px) {
  html {
    font-size: 95.80078%;
  }
}

@media screen and (max-width: 980px) {
  html {
    font-size: 95.70313%;
  }
}

@media screen and (max-width: 979px) {
  html {
    font-size: 95.60547%;
  }
}

@media screen and (max-width: 978px) {
  html {
    font-size: 95.50781%;
  }
}

@media screen and (max-width: 977px) {
  html {
    font-size: 95.41016%;
  }
}

@media screen and (max-width: 976px) {
  html {
    font-size: 95.3125%;
  }
}

@media screen and (max-width: 975px) {
  html {
    font-size: 95.21484%;
  }
}

@media screen and (max-width: 974px) {
  html {
    font-size: 95.11719%;
  }
}

@media screen and (max-width: 973px) {
  html {
    font-size: 95.01953%;
  }
}

@media screen and (max-width: 972px) {
  html {
    font-size: 94.92188%;
  }
}

@media screen and (max-width: 971px) {
  html {
    font-size: 94.82422%;
  }
}

@media screen and (max-width: 970px) {
  html {
    font-size: 94.72656%;
  }
}

@media screen and (max-width: 969px) {
  html {
    font-size: 94.62891%;
  }
}

@media screen and (max-width: 968px) {
  html {
    font-size: 94.53125%;
  }
}

@media screen and (max-width: 967px) {
  html {
    font-size: 94.43359%;
  }
}

@media screen and (max-width: 966px) {
  html {
    font-size: 94.33594%;
  }
}

@media screen and (max-width: 965px) {
  html {
    font-size: 94.23828%;
  }
}

@media screen and (max-width: 964px) {
  html {
    font-size: 94.14063%;
  }
}

@media screen and (max-width: 963px) {
  html {
    font-size: 94.04297%;
  }
}

@media screen and (max-width: 962px) {
  html {
    font-size: 93.94531%;
  }
}

@media screen and (max-width: 961px) {
  html {
    font-size: 93.84766%;
  }
}

@media screen and (max-width: 960px) {
  html {
    font-size: 93.75%;
  }
}

@media screen and (max-width: 959px) {
  html {
    font-size: 93.65234%;
  }
}

@media screen and (max-width: 958px) {
  html {
    font-size: 93.55469%;
  }
}

@media screen and (max-width: 957px) {
  html {
    font-size: 93.45703%;
  }
}

@media screen and (max-width: 956px) {
  html {
    font-size: 93.35938%;
  }
}

@media screen and (max-width: 955px) {
  html {
    font-size: 93.26172%;
  }
}

@media screen and (max-width: 954px) {
  html {
    font-size: 93.16406%;
  }
}

@media screen and (max-width: 953px) {
  html {
    font-size: 93.06641%;
  }
}

@media screen and (max-width: 952px) {
  html {
    font-size: 92.96875%;
  }
}

@media screen and (max-width: 951px) {
  html {
    font-size: 92.87109%;
  }
}

@media screen and (max-width: 950px) {
  html {
    font-size: 92.77344%;
  }
}

@media screen and (max-width: 949px) {
  html {
    font-size: 92.67578%;
  }
}

@media screen and (max-width: 948px) {
  html {
    font-size: 92.57813%;
  }
}

@media screen and (max-width: 947px) {
  html {
    font-size: 92.48047%;
  }
}

@media screen and (max-width: 946px) {
  html {
    font-size: 92.38281%;
  }
}

@media screen and (max-width: 945px) {
  html {
    font-size: 92.28516%;
  }
}

@media screen and (max-width: 944px) {
  html {
    font-size: 92.1875%;
  }
}

@media screen and (max-width: 943px) {
  html {
    font-size: 92.08984%;
  }
}

@media screen and (max-width: 942px) {
  html {
    font-size: 91.99219%;
  }
}

@media screen and (max-width: 941px) {
  html {
    font-size: 91.89453%;
  }
}

@media screen and (max-width: 940px) {
  html {
    font-size: 91.79688%;
  }
}

@media screen and (max-width: 939px) {
  html {
    font-size: 91.69922%;
  }
}

@media screen and (max-width: 938px) {
  html {
    font-size: 91.60156%;
  }
}

@media screen and (max-width: 937px) {
  html {
    font-size: 91.50391%;
  }
}

@media screen and (max-width: 936px) {
  html {
    font-size: 91.40625%;
  }
}

@media screen and (max-width: 935px) {
  html {
    font-size: 91.30859%;
  }
}

@media screen and (max-width: 934px) {
  html {
    font-size: 91.21094%;
  }
}

@media screen and (max-width: 933px) {
  html {
    font-size: 91.11328%;
  }
}

@media screen and (max-width: 932px) {
  html {
    font-size: 91.01563%;
  }
}

@media screen and (max-width: 931px) {
  html {
    font-size: 90.91797%;
  }
}

@media screen and (max-width: 930px) {
  html {
    font-size: 90.82031%;
  }
}

@media screen and (max-width: 929px) {
  html {
    font-size: 90.72266%;
  }
}

@media screen and (max-width: 928px) {
  html {
    font-size: 90.625%;
  }
}

@media screen and (max-width: 927px) {
  html {
    font-size: 90.52734%;
  }
}

@media screen and (max-width: 926px) {
  html {
    font-size: 90.42969%;
  }
}

@media screen and (max-width: 925px) {
  html {
    font-size: 90.33203%;
  }
}

@media screen and (max-width: 924px) {
  html {
    font-size: 90.23438%;
  }
}

@media screen and (max-width: 923px) {
  html {
    font-size: 90.13672%;
  }
}

@media screen and (max-width: 922px) {
  html {
    font-size: 90.03906%;
  }
}

@media screen and (max-width: 921px) {
  html {
    font-size: 89.94141%;
  }
}

@media screen and (max-width: 920px) {
  html {
    font-size: 89.84375%;
  }
}

@media screen and (max-width: 919px) {
  html {
    font-size: 89.74609%;
  }
}

@media screen and (max-width: 918px) {
  html {
    font-size: 89.64844%;
  }
}

@media screen and (max-width: 917px) {
  html {
    font-size: 89.55078%;
  }
}

@media screen and (max-width: 916px) {
  html {
    font-size: 89.45313%;
  }
}

@media screen and (max-width: 915px) {
  html {
    font-size: 89.35547%;
  }
}

@media screen and (max-width: 914px) {
  html {
    font-size: 89.25781%;
  }
}

@media screen and (max-width: 913px) {
  html {
    font-size: 89.16016%;
  }
}

@media screen and (max-width: 912px) {
  html {
    font-size: 89.0625%;
  }
}

@media screen and (max-width: 911px) {
  html {
    font-size: 88.96484%;
  }
}

@media screen and (max-width: 910px) {
  html {
    font-size: 88.86719%;
  }
}

@media screen and (max-width: 909px) {
  html {
    font-size: 88.76953%;
  }
}

@media screen and (max-width: 908px) {
  html {
    font-size: 88.67188%;
  }
}

@media screen and (max-width: 907px) {
  html {
    font-size: 88.57422%;
  }
}

@media screen and (max-width: 906px) {
  html {
    font-size: 88.47656%;
  }
}

@media screen and (max-width: 905px) {
  html {
    font-size: 88.37891%;
  }
}

@media screen and (max-width: 904px) {
  html {
    font-size: 88.28125%;
  }
}

@media screen and (max-width: 903px) {
  html {
    font-size: 88.18359%;
  }
}

@media screen and (max-width: 902px) {
  html {
    font-size: 88.08594%;
  }
}

@media screen and (max-width: 901px) {
  html {
    font-size: 87.98828%;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 87.89063%;
  }
}

@media screen and (max-width: 899px) {
  html {
    font-size: 87.79297%;
  }
}

@media screen and (max-width: 898px) {
  html {
    font-size: 87.69531%;
  }
}

@media screen and (max-width: 897px) {
  html {
    font-size: 87.59766%;
  }
}

@media screen and (max-width: 896px) {
  html {
    font-size: 87.5%;
  }
}

@media screen and (max-width: 895px) {
  html {
    font-size: 87.40234%;
  }
}

@media screen and (max-width: 894px) {
  html {
    font-size: 87.30469%;
  }
}

@media screen and (max-width: 893px) {
  html {
    font-size: 87.20703%;
  }
}

@media screen and (max-width: 892px) {
  html {
    font-size: 87.10938%;
  }
}

@media screen and (max-width: 891px) {
  html {
    font-size: 87.01172%;
  }
}

@media screen and (max-width: 890px) {
  html {
    font-size: 86.91406%;
  }
}

@media screen and (max-width: 889px) {
  html {
    font-size: 86.81641%;
  }
}

@media screen and (max-width: 888px) {
  html {
    font-size: 86.71875%;
  }
}

@media screen and (max-width: 887px) {
  html {
    font-size: 86.62109%;
  }
}

@media screen and (max-width: 886px) {
  html {
    font-size: 86.52344%;
  }
}

@media screen and (max-width: 885px) {
  html {
    font-size: 86.42578%;
  }
}

@media screen and (max-width: 884px) {
  html {
    font-size: 86.32813%;
  }
}

@media screen and (max-width: 883px) {
  html {
    font-size: 86.23047%;
  }
}

@media screen and (max-width: 882px) {
  html {
    font-size: 86.13281%;
  }
}

@media screen and (max-width: 881px) {
  html {
    font-size: 86.03516%;
  }
}

@media screen and (max-width: 880px) {
  html {
    font-size: 85.9375%;
  }
}

@media screen and (max-width: 879px) {
  html {
    font-size: 85.83984%;
  }
}

@media screen and (max-width: 878px) {
  html {
    font-size: 85.74219%;
  }
}

@media screen and (max-width: 877px) {
  html {
    font-size: 85.64453%;
  }
}

@media screen and (max-width: 876px) {
  html {
    font-size: 85.54688%;
  }
}

@media screen and (max-width: 875px) {
  html {
    font-size: 85.44922%;
  }
}

@media screen and (max-width: 874px) {
  html {
    font-size: 85.35156%;
  }
}

@media screen and (max-width: 873px) {
  html {
    font-size: 85.25391%;
  }
}

@media screen and (max-width: 872px) {
  html {
    font-size: 85.15625%;
  }
}

@media screen and (max-width: 871px) {
  html {
    font-size: 85.05859%;
  }
}

@media screen and (max-width: 870px) {
  html {
    font-size: 84.96094%;
  }
}

@media screen and (max-width: 869px) {
  html {
    font-size: 84.86328%;
  }
}

@media screen and (max-width: 868px) {
  html {
    font-size: 84.76563%;
  }
}

@media screen and (max-width: 867px) {
  html {
    font-size: 84.66797%;
  }
}

@media screen and (max-width: 866px) {
  html {
    font-size: 84.57031%;
  }
}

@media screen and (max-width: 865px) {
  html {
    font-size: 84.47266%;
  }
}

@media screen and (max-width: 864px) {
  html {
    font-size: 84.375%;
  }
}

@media screen and (max-width: 863px) {
  html {
    font-size: 84.27734%;
  }
}

@media screen and (max-width: 862px) {
  html {
    font-size: 84.17969%;
  }
}

@media screen and (max-width: 861px) {
  html {
    font-size: 84.08203%;
  }
}

@media screen and (max-width: 860px) {
  html {
    font-size: 83.98438%;
  }
}

@media screen and (max-width: 859px) {
  html {
    font-size: 83.88672%;
  }
}

@media screen and (max-width: 858px) {
  html {
    font-size: 83.78906%;
  }
}

@media screen and (max-width: 857px) {
  html {
    font-size: 83.69141%;
  }
}

@media screen and (max-width: 856px) {
  html {
    font-size: 83.59375%;
  }
}

@media screen and (max-width: 855px) {
  html {
    font-size: 83.49609%;
  }
}

@media screen and (max-width: 854px) {
  html {
    font-size: 83.39844%;
  }
}

@media screen and (max-width: 853px) {
  html {
    font-size: 83.30078%;
  }
}

@media screen and (max-width: 852px) {
  html {
    font-size: 83.20313%;
  }
}

@media screen and (max-width: 851px) {
  html {
    font-size: 83.10547%;
  }
}

@media screen and (max-width: 850px) {
  html {
    font-size: 83.00781%;
  }
}

@media screen and (max-width: 849px) {
  html {
    font-size: 82.91016%;
  }
}

@media screen and (max-width: 848px) {
  html {
    font-size: 82.8125%;
  }
}

@media screen and (max-width: 847px) {
  html {
    font-size: 82.71484%;
  }
}

@media screen and (max-width: 846px) {
  html {
    font-size: 82.61719%;
  }
}

@media screen and (max-width: 845px) {
  html {
    font-size: 82.51953%;
  }
}

@media screen and (max-width: 844px) {
  html {
    font-size: 82.42188%;
  }
}

@media screen and (max-width: 843px) {
  html {
    font-size: 82.32422%;
  }
}

@media screen and (max-width: 842px) {
  html {
    font-size: 82.22656%;
  }
}

@media screen and (max-width: 841px) {
  html {
    font-size: 82.12891%;
  }
}

@media screen and (max-width: 840px) {
  html {
    font-size: 82.03125%;
  }
}

@media screen and (max-width: 839px) {
  html {
    font-size: 81.93359%;
  }
}

@media screen and (max-width: 838px) {
  html {
    font-size: 81.83594%;
  }
}

@media screen and (max-width: 837px) {
  html {
    font-size: 81.73828%;
  }
}

@media screen and (max-width: 836px) {
  html {
    font-size: 81.64063%;
  }
}

@media screen and (max-width: 835px) {
  html {
    font-size: 81.54297%;
  }
}

@media screen and (max-width: 834px) {
  html {
    font-size: 81.44531%;
  }
}

@media screen and (max-width: 833px) {
  html {
    font-size: 81.34766%;
  }
}

@media screen and (max-width: 832px) {
  html {
    font-size: 81.25%;
  }
}

@media screen and (max-width: 831px) {
  html {
    font-size: 81.15234%;
  }
}

@media screen and (max-width: 830px) {
  html {
    font-size: 81.05469%;
  }
}

@media screen and (max-width: 829px) {
  html {
    font-size: 80.95703%;
  }
}

@media screen and (max-width: 828px) {
  html {
    font-size: 80.85938%;
  }
}

@media screen and (max-width: 827px) {
  html {
    font-size: 80.76172%;
  }
}

@media screen and (max-width: 826px) {
  html {
    font-size: 80.66406%;
  }
}

@media screen and (max-width: 825px) {
  html {
    font-size: 80.56641%;
  }
}

@media screen and (max-width: 824px) {
  html {
    font-size: 80.46875%;
  }
}

@media screen and (max-width: 823px) {
  html {
    font-size: 80.37109%;
  }
}

@media screen and (max-width: 822px) {
  html {
    font-size: 80.27344%;
  }
}

@media screen and (max-width: 821px) {
  html {
    font-size: 80.17578%;
  }
}

@media screen and (max-width: 820px) {
  html {
    font-size: 80.07813%;
  }
}

@media screen and (max-width: 819px) {
  html {
    font-size: 79.98047%;
  }
}

@media screen and (max-width: 818px) {
  html {
    font-size: 79.88281%;
  }
}

@media screen and (max-width: 817px) {
  html {
    font-size: 79.78516%;
  }
}

@media screen and (max-width: 816px) {
  html {
    font-size: 79.6875%;
  }
}

@media screen and (max-width: 815px) {
  html {
    font-size: 79.58984%;
  }
}

@media screen and (max-width: 814px) {
  html {
    font-size: 79.49219%;
  }
}

@media screen and (max-width: 813px) {
  html {
    font-size: 79.39453%;
  }
}

@media screen and (max-width: 812px) {
  html {
    font-size: 79.29688%;
  }
}

@media screen and (max-width: 811px) {
  html {
    font-size: 79.19922%;
  }
}

@media screen and (max-width: 810px) {
  html {
    font-size: 79.10156%;
  }
}

@media screen and (max-width: 809px) {
  html {
    font-size: 79.00391%;
  }
}

@media screen and (max-width: 808px) {
  html {
    font-size: 78.90625%;
  }
}

@media screen and (max-width: 807px) {
  html {
    font-size: 78.80859%;
  }
}

@media screen and (max-width: 806px) {
  html {
    font-size: 78.71094%;
  }
}

@media screen and (max-width: 805px) {
  html {
    font-size: 78.61328%;
  }
}

@media screen and (max-width: 804px) {
  html {
    font-size: 78.51563%;
  }
}

@media screen and (max-width: 803px) {
  html {
    font-size: 78.41797%;
  }
}

@media screen and (max-width: 802px) {
  html {
    font-size: 78.32031%;
  }
}

@media screen and (max-width: 801px) {
  html {
    font-size: 78.22266%;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 78.125%;
  }
}

@media screen and (max-width: 799px) {
  html {
    font-size: 78.02734%;
  }
}

@media screen and (max-width: 798px) {
  html {
    font-size: 77.92969%;
  }
}

@media screen and (max-width: 797px) {
  html {
    font-size: 77.83203%;
  }
}

@media screen and (max-width: 796px) {
  html {
    font-size: 77.73438%;
  }
}

@media screen and (max-width: 795px) {
  html {
    font-size: 77.63672%;
  }
}

@media screen and (max-width: 794px) {
  html {
    font-size: 77.53906%;
  }
}

@media screen and (max-width: 793px) {
  html {
    font-size: 77.44141%;
  }
}

@media screen and (max-width: 792px) {
  html {
    font-size: 77.34375%;
  }
}

@media screen and (max-width: 791px) {
  html {
    font-size: 77.24609%;
  }
}

@media screen and (max-width: 790px) {
  html {
    font-size: 77.14844%;
  }
}

@media screen and (max-width: 789px) {
  html {
    font-size: 77.05078%;
  }
}

@media screen and (max-width: 788px) {
  html {
    font-size: 76.95313%;
  }
}

@media screen and (max-width: 787px) {
  html {
    font-size: 76.85547%;
  }
}

@media screen and (max-width: 786px) {
  html {
    font-size: 76.75781%;
  }
}

@media screen and (max-width: 785px) {
  html {
    font-size: 76.66016%;
  }
}

@media screen and (max-width: 784px) {
  html {
    font-size: 76.5625%;
  }
}

@media screen and (max-width: 783px) {
  html {
    font-size: 76.46484%;
  }
}

@media screen and (max-width: 782px) {
  html {
    font-size: 76.36719%;
  }
}

@media screen and (max-width: 781px) {
  html {
    font-size: 76.26953%;
  }
}

@media screen and (max-width: 780px) {
  html {
    font-size: 76.17188%;
  }
}

@media screen and (max-width: 779px) {
  html {
    font-size: 76.07422%;
  }
}

@media screen and (max-width: 778px) {
  html {
    font-size: 75.97656%;
  }
}

@media screen and (max-width: 777px) {
  html {
    font-size: 75.87891%;
  }
}

@media screen and (max-width: 776px) {
  html {
    font-size: 75.78125%;
  }
}

@media screen and (max-width: 775px) {
  html {
    font-size: 75.68359%;
  }
}

@media screen and (max-width: 774px) {
  html {
    font-size: 75.58594%;
  }
}

@media screen and (max-width: 773px) {
  html {
    font-size: 75.48828%;
  }
}

@media screen and (max-width: 772px) {
  html {
    font-size: 75.39063%;
  }
}

@media screen and (max-width: 771px) {
  html {
    font-size: 75.29297%;
  }
}

@media screen and (max-width: 770px) {
  html {
    font-size: 75.19531%;
  }
}

@media screen and (max-width: 769px) {
  html {
    font-size: 75.09766%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 75%;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 74.90234%;
  }
}

@media screen and (max-width: 766px) {
  html {
    font-size: 74.80469%;
  }
}

@media screen and (max-width: 765px) {
  html {
    font-size: 74.70703%;
  }
}

@media screen and (max-width: 764px) {
  html {
    font-size: 74.60938%;
  }
}

@media screen and (max-width: 763px) {
  html {
    font-size: 74.51172%;
  }
}

@media screen and (max-width: 762px) {
  html {
    font-size: 74.41406%;
  }
}

@media screen and (max-width: 761px) {
  html {
    font-size: 74.31641%;
  }
}

@media screen and (max-width: 760px) {
  html {
    font-size: 74.21875%;
  }
}

@media screen and (max-width: 759px) {
  html {
    font-size: 74.12109%;
  }
}

@media screen and (max-width: 758px) {
  html {
    font-size: 74.02344%;
  }
}

@media screen and (max-width: 757px) {
  html {
    font-size: 73.92578%;
  }
}

@media screen and (max-width: 756px) {
  html {
    font-size: 73.82813%;
  }
}

@media screen and (max-width: 755px) {
  html {
    font-size: 73.73047%;
  }
}

@media screen and (max-width: 754px) {
  html {
    font-size: 73.63281%;
  }
}

@media screen and (max-width: 753px) {
  html {
    font-size: 73.53516%;
  }
}

@media screen and (max-width: 752px) {
  html {
    font-size: 73.4375%;
  }
}

@media screen and (max-width: 751px) {
  html {
    font-size: 73.33984%;
  }
}

@media screen and (max-width: 750px) {
  html {
    font-size: 73.24219%;
  }
}

@media screen and (max-width: 749px) {
  html {
    font-size: 73.14453%;
  }
}

@media screen and (max-width: 748px) {
  html {
    font-size: 73.04688%;
  }
}

@media screen and (max-width: 747px) {
  html {
    font-size: 72.94922%;
  }
}

@media screen and (max-width: 746px) {
  html {
    font-size: 72.85156%;
  }
}

@media screen and (max-width: 745px) {
  html {
    font-size: 72.75391%;
  }
}

@media screen and (max-width: 744px) {
  html {
    font-size: 72.65625%;
  }
}

@media screen and (max-width: 743px) {
  html {
    font-size: 72.55859%;
  }
}

@media screen and (max-width: 742px) {
  html {
    font-size: 72.46094%;
  }
}

@media screen and (max-width: 741px) {
  html {
    font-size: 72.36328%;
  }
}

@media screen and (max-width: 740px) {
  html {
    font-size: 72.26563%;
  }
}

@media screen and (max-width: 739px) {
  html {
    font-size: 72.16797%;
  }
}

@media screen and (max-width: 738px) {
  html {
    font-size: 72.07031%;
  }
}

@media screen and (max-width: 737px) {
  html {
    font-size: 71.97266%;
  }
}

@media screen and (max-width: 736px) {
  html {
    font-size: 71.875%;
  }
}

@media screen and (max-width: 735px) {
  html {
    font-size: 71.77734%;
  }
}

@media screen and (max-width: 734px) {
  html {
    font-size: 71.67969%;
  }
}

@media screen and (max-width: 733px) {
  html {
    font-size: 71.58203%;
  }
}

@media screen and (max-width: 732px) {
  html {
    font-size: 71.48438%;
  }
}

@media screen and (max-width: 731px) {
  html {
    font-size: 71.38672%;
  }
}

@media screen and (max-width: 730px) {
  html {
    font-size: 71.28906%;
  }
}

@media screen and (max-width: 729px) {
  html {
    font-size: 71.19141%;
  }
}

@media screen and (max-width: 728px) {
  html {
    font-size: 71.09375%;
  }
}

@media screen and (max-width: 727px) {
  html {
    font-size: 70.99609%;
  }
}

@media screen and (max-width: 726px) {
  html {
    font-size: 70.89844%;
  }
}

@media screen and (max-width: 725px) {
  html {
    font-size: 70.80078%;
  }
}

@media screen and (max-width: 724px) {
  html {
    font-size: 70.70313%;
  }
}

@media screen and (max-width: 723px) {
  html {
    font-size: 70.60547%;
  }
}

@media screen and (max-width: 722px) {
  html {
    font-size: 70.50781%;
  }
}

@media screen and (max-width: 721px) {
  html {
    font-size: 70.41016%;
  }
}

@media screen and (max-width: 720px) {
  html {
    font-size: 70.3125%;
  }
}

@media screen and (max-width: 719px) {
  html {
    font-size: 70.21484%;
  }
}

@media screen and (max-width: 718px) {
  html {
    font-size: 70.11719%;
  }
}

@media screen and (max-width: 717px) {
  html {
    font-size: 70.01953%;
  }
}

@media screen and (max-width: 716px) {
  html {
    font-size: 69.92188%;
  }
}

@media screen and (max-width: 715px) {
  html {
    font-size: 69.82422%;
  }
}

@media screen and (max-width: 714px) {
  html {
    font-size: 69.72656%;
  }
}

@media screen and (max-width: 713px) {
  html {
    font-size: 69.62891%;
  }
}

@media screen and (max-width: 712px) {
  html {
    font-size: 69.53125%;
  }
}

@media screen and (max-width: 711px) {
  html {
    font-size: 69.43359%;
  }
}

@media screen and (max-width: 710px) {
  html {
    font-size: 69.33594%;
  }
}

@media screen and (max-width: 709px) {
  html {
    font-size: 69.23828%;
  }
}

@media screen and (max-width: 708px) {
  html {
    font-size: 69.14063%;
  }
}

@media screen and (max-width: 707px) {
  html {
    font-size: 69.04297%;
  }
}

@media screen and (max-width: 706px) {
  html {
    font-size: 68.94531%;
  }
}

@media screen and (max-width: 705px) {
  html {
    font-size: 68.84766%;
  }
}

@media screen and (max-width: 704px) {
  html {
    font-size: 68.75%;
  }
}

@media screen and (max-width: 703px) {
  html {
    font-size: 68.65234%;
  }
}

@media screen and (max-width: 702px) {
  html {
    font-size: 68.55469%;
  }
}

@media screen and (max-width: 701px) {
  html {
    font-size: 68.45703%;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 68.35938%;
  }
}

@media screen and (max-width: 699px) {
  html {
    font-size: 68.26172%;
  }
}

@media screen and (max-width: 698px) {
  html {
    font-size: 68.16406%;
  }
}

@media screen and (max-width: 697px) {
  html {
    font-size: 68.06641%;
  }
}

@media screen and (max-width: 696px) {
  html {
    font-size: 67.96875%;
  }
}

@media screen and (max-width: 695px) {
  html {
    font-size: 67.87109%;
  }
}

@media screen and (max-width: 694px) {
  html {
    font-size: 67.77344%;
  }
}

@media screen and (max-width: 693px) {
  html {
    font-size: 67.67578%;
  }
}

@media screen and (max-width: 692px) {
  html {
    font-size: 67.57813%;
  }
}

@media screen and (max-width: 691px) {
  html {
    font-size: 67.48047%;
  }
}

@media screen and (max-width: 690px) {
  html {
    font-size: 67.38281%;
  }
}

@media screen and (max-width: 689px) {
  html {
    font-size: 67.28516%;
  }
}

@media screen and (max-width: 688px) {
  html {
    font-size: 67.1875%;
  }
}

@media screen and (max-width: 687px) {
  html {
    font-size: 67.08984%;
  }
}

@media screen and (max-width: 686px) {
  html {
    font-size: 66.99219%;
  }
}

@media screen and (max-width: 685px) {
  html {
    font-size: 66.89453%;
  }
}

@media screen and (max-width: 684px) {
  html {
    font-size: 66.79688%;
  }
}

@media screen and (max-width: 683px) {
  html {
    font-size: 66.69922%;
  }
}

@media screen and (max-width: 682px) {
  html {
    font-size: 66.60156%;
  }
}

@media screen and (max-width: 681px) {
  html {
    font-size: 66.50391%;
  }
}

@media screen and (max-width: 680px) {
  html {
    font-size: 66.40625%;
  }
}

@media screen and (max-width: 679px) {
  html {
    font-size: 66.30859%;
  }
}

@media screen and (max-width: 678px) {
  html {
    font-size: 66.21094%;
  }
}

@media screen and (max-width: 677px) {
  html {
    font-size: 66.11328%;
  }
}

@media screen and (max-width: 676px) {
  html {
    font-size: 66.01563%;
  }
}

@media screen and (max-width: 675px) {
  html {
    font-size: 65.91797%;
  }
}

@media screen and (max-width: 674px) {
  html {
    font-size: 65.82031%;
  }
}

@media screen and (max-width: 673px) {
  html {
    font-size: 65.72266%;
  }
}

@media screen and (max-width: 672px) {
  html {
    font-size: 65.625%;
  }
}

@media screen and (max-width: 671px) {
  html {
    font-size: 65.52734%;
  }
}

@media screen and (max-width: 670px) {
  html {
    font-size: 65.42969%;
  }
}

@media screen and (max-width: 669px) {
  html {
    font-size: 65.33203%;
  }
}

@media screen and (max-width: 668px) {
  html {
    font-size: 65.23438%;
  }
}

@media screen and (max-width: 667px) {
  html {
    font-size: 65.13672%;
  }
}

@media screen and (max-width: 666px) {
  html {
    font-size: 65.03906%;
  }
}

@media screen and (max-width: 665px) {
  html {
    font-size: 64.94141%;
  }
}

@media screen and (max-width: 664px) {
  html {
    font-size: 64.84375%;
  }
}

@media screen and (max-width: 663px) {
  html {
    font-size: 64.74609%;
  }
}

@media screen and (max-width: 662px) {
  html {
    font-size: 64.64844%;
  }
}

@media screen and (max-width: 661px) {
  html {
    font-size: 64.55078%;
  }
}

@media screen and (max-width: 660px) {
  html {
    font-size: 64.45313%;
  }
}

@media screen and (max-width: 659px) {
  html {
    font-size: 64.35547%;
  }
}

@media screen and (max-width: 658px) {
  html {
    font-size: 64.25781%;
  }
}

@media screen and (max-width: 657px) {
  html {
    font-size: 64.16016%;
  }
}

@media screen and (max-width: 656px) {
  html {
    font-size: 64.0625%;
  }
}

@media screen and (max-width: 655px) {
  html {
    font-size: 63.96484%;
  }
}

@media screen and (max-width: 654px) {
  html {
    font-size: 63.86719%;
  }
}

@media screen and (max-width: 653px) {
  html {
    font-size: 63.76953%;
  }
}

@media screen and (max-width: 652px) {
  html {
    font-size: 63.67188%;
  }
}

@media screen and (max-width: 651px) {
  html {
    font-size: 63.57422%;
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 63.47656%;
  }
}

@media screen and (max-width: 649px) {
  html {
    font-size: 63.37891%;
  }
}

@media screen and (max-width: 648px) {
  html {
    font-size: 63.28125%;
  }
}

@media screen and (max-width: 647px) {
  html {
    font-size: 63.18359%;
  }
}

@media screen and (max-width: 646px) {
  html {
    font-size: 63.08594%;
  }
}

@media screen and (max-width: 645px) {
  html {
    font-size: 62.98828%;
  }
}

@media screen and (max-width: 644px) {
  html {
    font-size: 62.89063%;
  }
}

@media screen and (max-width: 643px) {
  html {
    font-size: 62.79297%;
  }
}

@media screen and (max-width: 642px) {
  html {
    font-size: 62.69531%;
  }
}

@media screen and (max-width: 641px) {
  html {
    font-size: 62.59766%;
  }
}

@media screen and (max-width: 640px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 639px) {
  html {
    font-size: 99.84375%;
  }
}

@media screen and (max-width: 638px) {
  html {
    font-size: 99.6875%;
  }
}

@media screen and (max-width: 637px) {
  html {
    font-size: 99.53125%;
  }
}

@media screen and (max-width: 636px) {
  html {
    font-size: 99.375%;
  }
}

@media screen and (max-width: 635px) {
  html {
    font-size: 99.21875%;
  }
}

@media screen and (max-width: 634px) {
  html {
    font-size: 99.0625%;
  }
}

@media screen and (max-width: 633px) {
  html {
    font-size: 98.90625%;
  }
}

@media screen and (max-width: 632px) {
  html {
    font-size: 98.75%;
  }
}

@media screen and (max-width: 631px) {
  html {
    font-size: 98.59375%;
  }
}

@media screen and (max-width: 630px) {
  html {
    font-size: 98.4375%;
  }
}

@media screen and (max-width: 629px) {
  html {
    font-size: 98.28125%;
  }
}

@media screen and (max-width: 628px) {
  html {
    font-size: 98.125%;
  }
}

@media screen and (max-width: 627px) {
  html {
    font-size: 97.96875%;
  }
}

@media screen and (max-width: 626px) {
  html {
    font-size: 97.8125%;
  }
}

@media screen and (max-width: 625px) {
  html {
    font-size: 97.65625%;
  }
}

@media screen and (max-width: 624px) {
  html {
    font-size: 97.5%;
  }
}

@media screen and (max-width: 623px) {
  html {
    font-size: 97.34375%;
  }
}

@media screen and (max-width: 622px) {
  html {
    font-size: 97.1875%;
  }
}

@media screen and (max-width: 621px) {
  html {
    font-size: 97.03125%;
  }
}

@media screen and (max-width: 620px) {
  html {
    font-size: 96.875%;
  }
}

@media screen and (max-width: 619px) {
  html {
    font-size: 96.71875%;
  }
}

@media screen and (max-width: 618px) {
  html {
    font-size: 96.5625%;
  }
}

@media screen and (max-width: 617px) {
  html {
    font-size: 96.40625%;
  }
}

@media screen and (max-width: 616px) {
  html {
    font-size: 96.25%;
  }
}

@media screen and (max-width: 615px) {
  html {
    font-size: 96.09375%;
  }
}

@media screen and (max-width: 614px) {
  html {
    font-size: 95.9375%;
  }
}

@media screen and (max-width: 613px) {
  html {
    font-size: 95.78125%;
  }
}

@media screen and (max-width: 612px) {
  html {
    font-size: 95.625%;
  }
}

@media screen and (max-width: 611px) {
  html {
    font-size: 95.46875%;
  }
}

@media screen and (max-width: 610px) {
  html {
    font-size: 95.3125%;
  }
}

@media screen and (max-width: 609px) {
  html {
    font-size: 95.15625%;
  }
}

@media screen and (max-width: 608px) {
  html {
    font-size: 95%;
  }
}

@media screen and (max-width: 607px) {
  html {
    font-size: 94.84375%;
  }
}

@media screen and (max-width: 606px) {
  html {
    font-size: 94.6875%;
  }
}

@media screen and (max-width: 605px) {
  html {
    font-size: 94.53125%;
  }
}

@media screen and (max-width: 604px) {
  html {
    font-size: 94.375%;
  }
}

@media screen and (max-width: 603px) {
  html {
    font-size: 94.21875%;
  }
}

@media screen and (max-width: 602px) {
  html {
    font-size: 94.0625%;
  }
}

@media screen and (max-width: 601px) {
  html {
    font-size: 93.90625%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 93.75%;
  }
}

@media screen and (max-width: 599px) {
  html {
    font-size: 93.59375%;
  }
}

@media screen and (max-width: 598px) {
  html {
    font-size: 93.4375%;
  }
}

@media screen and (max-width: 597px) {
  html {
    font-size: 93.28125%;
  }
}

@media screen and (max-width: 596px) {
  html {
    font-size: 93.125%;
  }
}

@media screen and (max-width: 595px) {
  html {
    font-size: 92.96875%;
  }
}

@media screen and (max-width: 594px) {
  html {
    font-size: 92.8125%;
  }
}

@media screen and (max-width: 593px) {
  html {
    font-size: 92.65625%;
  }
}

@media screen and (max-width: 592px) {
  html {
    font-size: 92.5%;
  }
}

@media screen and (max-width: 591px) {
  html {
    font-size: 92.34375%;
  }
}

@media screen and (max-width: 590px) {
  html {
    font-size: 92.1875%;
  }
}

@media screen and (max-width: 589px) {
  html {
    font-size: 92.03125%;
  }
}

@media screen and (max-width: 588px) {
  html {
    font-size: 91.875%;
  }
}

@media screen and (max-width: 587px) {
  html {
    font-size: 91.71875%;
  }
}

@media screen and (max-width: 586px) {
  html {
    font-size: 91.5625%;
  }
}

@media screen and (max-width: 585px) {
  html {
    font-size: 91.40625%;
  }
}

@media screen and (max-width: 584px) {
  html {
    font-size: 91.25%;
  }
}

@media screen and (max-width: 583px) {
  html {
    font-size: 91.09375%;
  }
}

@media screen and (max-width: 582px) {
  html {
    font-size: 90.9375%;
  }
}

@media screen and (max-width: 581px) {
  html {
    font-size: 90.78125%;
  }
}

@media screen and (max-width: 580px) {
  html {
    font-size: 90.625%;
  }
}

@media screen and (max-width: 579px) {
  html {
    font-size: 90.46875%;
  }
}

@media screen and (max-width: 578px) {
  html {
    font-size: 90.3125%;
  }
}

@media screen and (max-width: 577px) {
  html {
    font-size: 90.15625%;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 89.84375%;
  }
}

@media screen and (max-width: 574px) {
  html {
    font-size: 89.6875%;
  }
}

@media screen and (max-width: 573px) {
  html {
    font-size: 89.53125%;
  }
}

@media screen and (max-width: 572px) {
  html {
    font-size: 89.375%;
  }
}

@media screen and (max-width: 571px) {
  html {
    font-size: 89.21875%;
  }
}

@media screen and (max-width: 570px) {
  html {
    font-size: 89.0625%;
  }
}

@media screen and (max-width: 569px) {
  html {
    font-size: 88.90625%;
  }
}

@media screen and (max-width: 568px) {
  html {
    font-size: 88.75%;
  }
}

@media screen and (max-width: 567px) {
  html {
    font-size: 88.59375%;
  }
}

@media screen and (max-width: 566px) {
  html {
    font-size: 88.4375%;
  }
}

@media screen and (max-width: 565px) {
  html {
    font-size: 88.28125%;
  }
}

@media screen and (max-width: 564px) {
  html {
    font-size: 88.125%;
  }
}

@media screen and (max-width: 563px) {
  html {
    font-size: 87.96875%;
  }
}

@media screen and (max-width: 562px) {
  html {
    font-size: 87.8125%;
  }
}

@media screen and (max-width: 561px) {
  html {
    font-size: 87.65625%;
  }
}

@media screen and (max-width: 560px) {
  html {
    font-size: 87.5%;
  }
}

@media screen and (max-width: 559px) {
  html {
    font-size: 87.34375%;
  }
}

@media screen and (max-width: 558px) {
  html {
    font-size: 87.1875%;
  }
}

@media screen and (max-width: 557px) {
  html {
    font-size: 87.03125%;
  }
}

@media screen and (max-width: 556px) {
  html {
    font-size: 86.875%;
  }
}

@media screen and (max-width: 555px) {
  html {
    font-size: 86.71875%;
  }
}

@media screen and (max-width: 554px) {
  html {
    font-size: 86.5625%;
  }
}

@media screen and (max-width: 553px) {
  html {
    font-size: 86.40625%;
  }
}

@media screen and (max-width: 552px) {
  html {
    font-size: 86.25%;
  }
}

@media screen and (max-width: 551px) {
  html {
    font-size: 86.09375%;
  }
}

@media screen and (max-width: 550px) {
  html {
    font-size: 85.9375%;
  }
}

@media screen and (max-width: 549px) {
  html {
    font-size: 85.78125%;
  }
}

@media screen and (max-width: 548px) {
  html {
    font-size: 85.625%;
  }
}

@media screen and (max-width: 547px) {
  html {
    font-size: 85.46875%;
  }
}

@media screen and (max-width: 546px) {
  html {
    font-size: 85.3125%;
  }
}

@media screen and (max-width: 545px) {
  html {
    font-size: 85.15625%;
  }
}

@media screen and (max-width: 544px) {
  html {
    font-size: 85%;
  }
}

@media screen and (max-width: 543px) {
  html {
    font-size: 84.84375%;
  }
}

@media screen and (max-width: 542px) {
  html {
    font-size: 84.6875%;
  }
}

@media screen and (max-width: 541px) {
  html {
    font-size: 84.53125%;
  }
}

@media screen and (max-width: 540px) {
  html {
    font-size: 84.375%;
  }
}

@media screen and (max-width: 539px) {
  html {
    font-size: 84.21875%;
  }
}

@media screen and (max-width: 538px) {
  html {
    font-size: 84.0625%;
  }
}

@media screen and (max-width: 537px) {
  html {
    font-size: 83.90625%;
  }
}

@media screen and (max-width: 536px) {
  html {
    font-size: 83.75%;
  }
}

@media screen and (max-width: 535px) {
  html {
    font-size: 83.59375%;
  }
}

@media screen and (max-width: 534px) {
  html {
    font-size: 83.4375%;
  }
}

@media screen and (max-width: 533px) {
  html {
    font-size: 83.28125%;
  }
}

@media screen and (max-width: 532px) {
  html {
    font-size: 83.125%;
  }
}

@media screen and (max-width: 531px) {
  html {
    font-size: 82.96875%;
  }
}

@media screen and (max-width: 530px) {
  html {
    font-size: 82.8125%;
  }
}

@media screen and (max-width: 529px) {
  html {
    font-size: 82.65625%;
  }
}

@media screen and (max-width: 528px) {
  html {
    font-size: 82.5%;
  }
}

@media screen and (max-width: 527px) {
  html {
    font-size: 82.34375%;
  }
}

@media screen and (max-width: 526px) {
  html {
    font-size: 82.1875%;
  }
}

@media screen and (max-width: 525px) {
  html {
    font-size: 82.03125%;
  }
}

@media screen and (max-width: 524px) {
  html {
    font-size: 81.875%;
  }
}

@media screen and (max-width: 523px) {
  html {
    font-size: 81.71875%;
  }
}

@media screen and (max-width: 522px) {
  html {
    font-size: 81.5625%;
  }
}

@media screen and (max-width: 521px) {
  html {
    font-size: 81.40625%;
  }
}

@media screen and (max-width: 520px) {
  html {
    font-size: 81.25%;
  }
}

@media screen and (max-width: 519px) {
  html {
    font-size: 81.09375%;
  }
}

@media screen and (max-width: 518px) {
  html {
    font-size: 80.9375%;
  }
}

@media screen and (max-width: 517px) {
  html {
    font-size: 80.78125%;
  }
}

@media screen and (max-width: 516px) {
  html {
    font-size: 80.625%;
  }
}

@media screen and (max-width: 515px) {
  html {
    font-size: 80.46875%;
  }
}

@media screen and (max-width: 514px) {
  html {
    font-size: 80.3125%;
  }
}

@media screen and (max-width: 513px) {
  html {
    font-size: 80.15625%;
  }
}

@media screen and (max-width: 512px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 511px) {
  html {
    font-size: 79.84375%;
  }
}

@media screen and (max-width: 510px) {
  html {
    font-size: 79.6875%;
  }
}

@media screen and (max-width: 509px) {
  html {
    font-size: 79.53125%;
  }
}

@media screen and (max-width: 508px) {
  html {
    font-size: 79.375%;
  }
}

@media screen and (max-width: 507px) {
  html {
    font-size: 79.21875%;
  }
}

@media screen and (max-width: 506px) {
  html {
    font-size: 79.0625%;
  }
}

@media screen and (max-width: 505px) {
  html {
    font-size: 78.90625%;
  }
}

@media screen and (max-width: 504px) {
  html {
    font-size: 78.75%;
  }
}

@media screen and (max-width: 503px) {
  html {
    font-size: 78.59375%;
  }
}

@media screen and (max-width: 502px) {
  html {
    font-size: 78.4375%;
  }
}

@media screen and (max-width: 501px) {
  html {
    font-size: 78.28125%;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 78.125%;
  }
}

@media screen and (max-width: 499px) {
  html {
    font-size: 77.96875%;
  }
}

@media screen and (max-width: 498px) {
  html {
    font-size: 77.8125%;
  }
}

@media screen and (max-width: 497px) {
  html {
    font-size: 77.65625%;
  }
}

@media screen and (max-width: 496px) {
  html {
    font-size: 77.5%;
  }
}

@media screen and (max-width: 495px) {
  html {
    font-size: 77.34375%;
  }
}

@media screen and (max-width: 494px) {
  html {
    font-size: 77.1875%;
  }
}

@media screen and (max-width: 493px) {
  html {
    font-size: 77.03125%;
  }
}

@media screen and (max-width: 492px) {
  html {
    font-size: 76.875%;
  }
}

@media screen and (max-width: 491px) {
  html {
    font-size: 76.71875%;
  }
}

@media screen and (max-width: 490px) {
  html {
    font-size: 76.5625%;
  }
}

@media screen and (max-width: 489px) {
  html {
    font-size: 76.40625%;
  }
}

@media screen and (max-width: 488px) {
  html {
    font-size: 76.25%;
  }
}

@media screen and (max-width: 487px) {
  html {
    font-size: 76.09375%;
  }
}

@media screen and (max-width: 486px) {
  html {
    font-size: 75.9375%;
  }
}

@media screen and (max-width: 485px) {
  html {
    font-size: 75.78125%;
  }
}

@media screen and (max-width: 484px) {
  html {
    font-size: 75.625%;
  }
}

@media screen and (max-width: 483px) {
  html {
    font-size: 75.46875%;
  }
}

@media screen and (max-width: 482px) {
  html {
    font-size: 75.3125%;
  }
}

@media screen and (max-width: 481px) {
  html {
    font-size: 75.15625%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 75.15625%;
  }
}

@media screen and (max-width: 479px) {
  html {
    font-size: 74.79167%;
  }
}

@media screen and (max-width: 478px) {
  html {
    font-size: 74.58333%;
  }
}

@media screen and (max-width: 477px) {
  html {
    font-size: 74.375%;
  }
}

@media screen and (max-width: 476px) {
  html {
    font-size: 74.16667%;
  }
}

@media screen and (max-width: 475px) {
  html {
    font-size: 74.06667%;
  }
}

@media screen and (max-width: 474px) {
  html {
    font-size: 74.05667%;
  }
}

@media screen and (max-width: 473px) {
  html {
    font-size: 74.04667%;
  }
}

@media screen and (max-width: 472px) {
  html {
    font-size: 74.03667%;
  }
}

@media screen and (max-width: 471px) {
  html {
    font-size: 74.02667%;
  }
}

@media screen and (max-width: 470px) {
  html {
    font-size: 74.01667%;
  }
}

@media screen and (max-width: 469px) {
  html {
    font-size: 74.00967%;
  }
}

@media screen and (max-width: 468px) {
  html {
    font-size: 74.00967%;
  }
}

@media screen and (max-width: 467px) {
  html {
    font-size: 74.00867%;
  }
}

@media screen and (max-width: 466px) {
  html {
    font-size: 74.00767%;
  }
}

@media screen and (max-width: 465px) {
  html {
    font-size: 74.00567%;
  }
}

@media screen and (max-width: 464px) {
  html {
    font-size: 74.00567%;
  }
}

@media screen and (max-width: 463px) {
  html {
    font-size: 74.00567%;
  }
}

@media screen and (max-width: 462px) {
  html {
    font-size: 74.00567%;
  }
}

@media screen and (max-width: 461px) {
  html {
    font-size: 74.00567%;
  }
}

@media screen and (max-width: 460px) {
  html {
    font-size: 74.00567%;
  }
}

@media screen and (max-width: 459px) {
  html {
    font-size: 74.00567%;
  }
}

@media screen and (max-width: 458px) {
  html {
    font-size: 74.00467%;
  }
}

@media screen and (max-width: 457px) {
  html {
    font-size: 74.00467%;
  }
}

@media screen and (max-width: 456px) {
  html {
    font-size: 74.00467%;
  }
}

@media screen and (max-width: 455px) {
  html {
    font-size: 74.00467%;
  }
}

@media screen and (max-width: 454px) {
  html {
    font-size: 74.00466%;
  }
}

@media screen and (max-width: 453px) {
  html {
    font-size: 74.0036%;
  }
}

@media screen and (max-width: 452px) {
  html {
    font-size: 74.00366%;
  }
}

@media screen and (max-width: 451px) {
  html {
    font-size: 74.00365%;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 74.00364%;
  }
}

@media screen and (max-width: 449px) {
  html {
    font-size: 74.00356%;
  }
}

@media screen and (max-width: 448px) {
  html {
    font-size: 74.00346%;
  }
}

@media screen and (max-width: 447px) {
  html {
    font-size: 74.00336%;
  }
}

@media screen and (max-width: 446px) {
  html {
    font-size: 74.00326%;
  }
}

@media screen and (max-width: 445px) {
  html {
    font-size: 74.00325%;
  }
}

@media screen and (max-width: 444px) {
  html {
    font-size: 74.00324%;
  }
}

@media screen and (max-width: 443px) {
  html {
    font-size: 74.00323%;
  }
}

@media screen and (max-width: 442px) {
  html {
    font-size: 74.0032%;
  }
}

@media screen and (max-width: 441px) {
  html {
    font-size: 74.0031%;
  }
}

@media screen and (max-width: 440px) {
  html {
    font-size: 74.0030%;
  }
}

@media screen and (max-width: 439px) {
  html {
    font-size: 74.0029%;
  }
}

@media screen and (max-width: 438px) {
  html {
    font-size: 74.0028%;
  }
}

@media screen and (max-width: 437px) {
  html {
    font-size: 74.0027%;
  }
}

@media screen and (max-width: 436px) {
  html {
    font-size: 74.0026%;
  }
}

@media screen and (max-width: 435px) {
  html {
    font-size: 74.0025%;
  }
}

@media screen and (max-width: 434px) {
  html {
    font-size: 74.0024%;
  }
}

@media screen and (max-width: 433px) {
  html {
    font-size: 74.0023%;
  }
}

@media screen and (max-width: 432px) {
  html {
    font-size: 74.0022%;
  }
}

@media screen and (max-width: 431px) {
  html {
    font-size: 73.9999%;
  }
}

@media screen and (max-width: 430px) {
  html {
    font-size: 73.9995%;
  }
}

@media screen and (max-width: 429px) {
  html {
    font-size: 73.9985%;
  }
}

@media screen and (max-width: 428px) {
  html {
    font-size: 73.9975%;
  }
}

@media screen and (max-width: 427px) {
  html {
    font-size: 73.9965%;
  }
}

@media screen and (max-width: 426px) {
  html {
    font-size: 73.9964%;
  }
}

@media screen and (max-width: 425px) {
  html {
    font-size: 73.9963%;
  }
}

@media screen and (max-width: 424px) {
  html {
    font-size: 73.9962%;
  }
}

@media screen and (max-width: 423px) {
  html {
    font-size: 73.9961%;
  }
}

@media screen and (max-width: 422px) {
  html {
    font-size: 73.9960%;
  }
}

@media screen and (max-width: 421px) {
  html {
    font-size: 73.9959%;
  }
}

@media screen and (max-width: 420px) {
  html {
    font-size: 73.9958%;
  }
}

@media screen and (max-width: 419px) {
  html {
    font-size: 73.9957%;
  }
}

@media screen and (max-width: 418px) {
  html {
    font-size: 73.9956%;
  }
}

@media screen and (max-width: 417px) {
  html {
    font-size: 73.9955%;
  }
}

@media screen and (max-width: 416px) {
  html {
    font-size: 73.9954%;
  }
}

@media screen and (max-width: 415px) {
  html {
    font-size: 73.9953%;
  }
}

@media screen and (max-width: 414px) {
  html {
    font-size: 73.9952%;
  }
}

@media screen and (max-width: 413px) {
  html {
    font-size: 73.9951%;
  }
}

@media screen and (max-width: 412px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 411px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 410px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 409px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 408px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 407px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 406px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 405px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 404px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 403px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 402px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 401px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 399px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 398px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 397px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 396px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 395px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 394px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 393px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 392px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 391px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 390px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 389px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 388px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 387px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 386px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 385px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 384px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 383px) {
  html {
    font-size: 773.9950%;
  }
}

@media screen and (max-width: 382px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 381px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 379px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 378px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 377px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 376px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 374px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 373px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 372px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 371px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 370px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 369px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 368px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 367px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 366px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 365px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 364px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 363px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 362px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 361px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 359px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 358px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 357px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 356px) {
  html {
    font-size: 73.9950%;
  }
}

@media screen and (max-width: 355px) {
  html {
    font-size: 73.95833%;
  }
}

@media screen and (max-width: 354px) {
  html {
    font-size: 73.75%;
  }
}

@media screen and (max-width: 353px) {
  html {
    font-size: 73.54167%;
  }
}

@media screen and (max-width: 352px) {
  html {
    font-size: 73.33333%;
  }
}

@media screen and (max-width: 351px) {
  html {
    font-size: 73.125%;
  }
}

@media screen and (max-width: 350px) {
  html {
    font-size: 72.91667%;
  }
}

@media screen and (max-width: 349px) {
  html {
    font-size: 72.70833%;
  }
}

@media screen and (max-width: 348px) {
  html {
    font-size: 72.5%;
  }
}

@media screen and (max-width: 347px) {
  html {
    font-size: 72.29167%;
  }
}

@media screen and (max-width: 346px) {
  html {
    font-size: 72.08333%;
  }
}

@media screen and (max-width: 345px) {
  html {
    font-size: 71.875%;
  }
}

@media screen and (max-width: 344px) {
  html {
    font-size: 71.66667%;
  }
}

@media screen and (max-width: 343px) {
  html {
    font-size: 71.45833%;
  }
}

@media screen and (max-width: 342px) {
  html {
    font-size: 71.25%;
  }
}

@media screen and (max-width: 341px) {
  html {
    font-size: 71.04167%;
  }
}

@media screen and (max-width: 340px) {
  html {
    font-size: 70.83333%;
  }
}

@media screen and (max-width: 339px) {
  html {
    font-size: 70.625%;
  }
}

@media screen and (max-width: 338px) {
  html {
    font-size: 70.41667%;
  }
}

@media screen and (max-width: 337px) {
  html {
    font-size: 70.20833%;
  }
}

@media screen and (max-width: 336px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 335px) {
  html {
    font-size: 69.79167%;
  }
}

@media screen and (max-width: 334px) {
  html {
    font-size: 69.58333%;
  }
}

@media screen and (max-width: 333px) {
  html {
    font-size: 69.375%;
  }
}

@media screen and (max-width: 332px) {
  html {
    font-size: 69.16667%;
  }
}

@media screen and (max-width: 331px) {
  html {
    font-size: 68.95833%;
  }
}

@media screen and (max-width: 330px) {
  html {
    font-size: 68.75%;
  }
}

@media screen and (max-width: 329px) {
  html {
    font-size: 68.54167%;
  }
}

@media screen and (max-width: 328px) {
  html {
    font-size: 68.33333%;
  }
}

@media screen and (max-width: 327px) {
  html {
    font-size: 68.125%;
  }
}

@media screen and (max-width: 326px) {
  html {
    font-size: 67.91667%;
  }
}

@media screen and (max-width: 325px) {
  html {
    font-size: 67.70833%;
  }
}

@media screen and (max-width: 324px) {
  html {
    font-size: 67.5%;
  }
}

@media screen and (max-width: 323px) {
  html {
    font-size: 67.29167%;
  }
}

@media screen and (max-width: 322px) {
  html {
    font-size: 67.08333%;
  }
}

@media screen and (max-width: 321px) {
  html {
    font-size: 66.875%;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 66.66667%;
  }
}

/*
   Responsive 
   *
   *

   * Mobile
*/
/*
only - hide mobile
*/
@media screen and (min-width: 641px){
  .only-mobile{
    display: none !important;
  }

}
@media screen and (max-width: 640px){
  .hide-mobile{
    display: none !important;
  }
  /**/
  section.hero-story .sm-wrapper .contents h2 {
    letter-spacing: -1px;
    font-size: 2.025rem;
  }
}

@media screen and (max-width: 768px) {
  header .bottom .sm-wrapper {
    max-width: 100%;
    width: 100%;
  }
  header .bottom .sm-wrapper form input.button, header .bottom .sm-wrapper form input.text {
    line-height: 2.5rem;
  }
  header .bottom .sm-wrapper form input.text {
    padding-left: 0.625rem;
  }
  section.hero-story .sm-wrapper .random {
    line-height: 2.75rem;
  }
  section.stories .plus {
    line-height: 3.125rem;
  }
  section.hero-story.formulaire .contents form .action .envoyer {
    line-height: 2.75rem;
  }

}

@media screen and (max-width: 640px) {
  .push .contents img {
    max-width: 100%;
  }
  .push .contents .actionButt > img {
    width: 11.25rem;
  }
  .push .contents .actionButt a .arrows {
    width: 110%;
    height: 110%;
  }
  header .top .link {
    display: none;
  }
  header .mid {
    padding-top: 0rem;
  }
  header .bottom .sm-wrapper {
    width: 100%;
  }
  header .bottom form {
    width: 50%;
  }
  header .bottom form input.text {
    font-size: 0.9375rem;
    line-height: 2.6875rem;
    padding-left: 0.625rem;
  }
  header .bottom a.button {
    width: 50%;
    font-size: 0.9375rem;
    line-height: 2.7rem;
    letter-spacing: 0.5px;
  }
  section.hero-story .sm-wrapper .contents h2 {
    letter-spacing: -1px;
    font-size: 2.025rem;  /**/
  }
  section.hero-story .sm-wrapper .contents ul {
    margin-bottom: 0;
  }
  section.hero-story .sm-wrapper::after, section.hero-story .sm-wrapper::before {
    display: none;
  }
  section.hero-story .share-media .like {
    line-height: 1.75rem !important;
  }
  section.hero-story p {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
  section.hero-story.formulaire .contents form .field {
    width: 100% !important;
  }
  section.stories .story {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
  section.stories .story .wrp {
    padding-top: 2.5rem;
  }
  section.stories .story .wrp h2 {
    letter-spacing: -1px;
  }
  section.stories .story .wrp .share-media .like {
    line-height: 1.75rem;
  }
  section.stories .story .wrp p {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
  footer {
    text-align: left;
  }
  footer ul li {
    display: block;
    margin: 0.625rem 0;
  }
  footer ul li::before {
    display: none !important;
  }
  footer ul li:last-child {
    margin-top: 1.875rem;
  }
  footer ul li:last-child span {
    display: block;
    margin-bottom: 0.625rem;
  }

  section.hero-story.formulaire .sm-wrapper .contents .register .social-connect .field.url .loginBtn{
    font-size: 1.0375rem;
  }

  section.hero-story.formulaire .sm-wrapper .contents .register{
    width: 20rem;
  }


  section.hero-story.formulaire .sm-wrapper .contents .register form{

    width: 22rem;
  }
  section .sm-wrapper .title {
    text-transform: uppercase;
    font-size: 0.925rem;
    font-family: asevenoneeight-extrablack, Arial, sans-serif;
    color: #061646;
  }
}
/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
  /**/
  section.hero-story .sm-wrapper .contents h2 {
    letter-spacing: -1px;
    font-size: 2.025rem;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
  /**/
  section.hero-story .sm-wrapper .contents h2 {
    letter-spacing: -1px;
    font-size: 2.025rem;
  }
}