
{% extends "MainBundle::base.html.twig" %}

{% block title %}
    <title>Resetting password | Bantu-dico </title>
{% endblock title %}


{% trans_default_domain 'FOSUserBundle' %}
{% block results %}

    <section class="hero-story formulaire">
        <div class="sm-wrapper">
            <div class="contents">
                <div class="user-check-email">
                    {% block fos_user_content %}
                        <div > <img style="margin-bottom:15%" width="150" height="150"  src="{{ asset("bundles/main/imgs/ico/check.svg") }}" alt="checked"></div>

                        <p> {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }} </p>
                        <br>
                        <div class="action">
                            <span class ="welcome"> <a class ="link" href="#" >Retour a l'Accueil </a></span>
                        </div>
                    {% endblock fos_user_content %}
                </div>

            </div>
        </div>
    </section>

{% endblock results %}
