{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="field url">
        <input type="text" id="username" name="username" required="required"  placeholder="Renseignez votre Adresse Email"/>
    </div>
    <div class="action">
        <input class ="add-word" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
</form>
