{% extends "MainBundle::base.html.twig" %}
{% block title %}
    <title>{% trans %}user.resetting{% endtrans %} </title>
{% endblock title %}

{% block breadcrumb %}
    {{ wo_render_breadcrumbs() }}
{% endblock breadcrumb %}

{% block results %}

    <section class="hero-story formulaire">
        <div class="sm-wrapper">
            <div class="contents">
                <h3>Réinitialisation de votre mot de passe</h3>
                <br>
                <div class="register">
                    {% block fos_user_content %}
                        {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
                    {% endblock fos_user_content %}
                </div>

            </div>
        </div>
    </section>

{% endblock results %}
