{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}

    <div class="field url">
        {{ form_widget(form.plainPassword.first,{'attr': { 'placeholder':"Nouveau mot de passe " } }) }}
    </div>
    <div class="field url">
        {{ form_widget(form.plainPassword.second,{'attr': { 'placeholder':"Repeter Mor de passe" } }) }}
    </div>

    <div class="action">
        <input type="submit" class ="add-word"  value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
{{ form_end(form) }}
