{% extends 'MainBundle::base.html.twig' %}

{% block title %}
    <title>{% trans %}site.error404{% endtrans %} </title>
    <meta name="description" content="{% trans %}site.error404_description{% endtrans %}">

{% endblock title %}

{% block adsense %}
    {% include '@Main/Adsense/default.html.twig' %}
{% endblock adsense  %}

{% block results %}
    <br>

    <div >

        <section class="hero-story formulaire">
            <div class="sm-wrapper">
                <div class="contents">
                    <h2> {{ 'site.error404_title'|trans }}</h2>
                    <hr>

                </div>

            </div>
        </section>
    </div>

{% endblock results %}
