
{% extends "MainBundle::base.html.twig" %}
{% block title %}
    <title>{% trans %}extranet.title{% endtrans %} </title>
{% endblock title %}
{% block css %}
    <link href="{{ asset("bundles/main/css/extranet-styles.css") }}" rel="stylesheet">
{% endblock css %}

{% block adsense %}
    {% include '@Main/Adsense/default.html.twig' %}
{% endblock adsense  %}

{% block menu %}
    {% include '@Main/Menus/mainMenu-extranet.html.twig' %}
{% endblock menu %}
{% block results %}

    <section class="hero-story formulaire">
        <div class="sm-wrapper">
            <div class="contents">
                <div class="register">
                    {% block fos_user_content %}
                        <div > <img style="margin-bottom:15%" width="150" height="150"  src="{{ asset("bundles/main/imgs/ico/close.svg") }}" alt="checked"></div>

                        <p>Votre définition n'a pas pu être validé</p>
                        <p> La traduction proposée n'est pas présente dans le dictionnaire Français</p>
                        <br>
                        <div class="action">
                            <span class ="welcome"> <a class ="link" href="{{ path('add_word') }}" >Réessayer à nouveau </a></span>
                            <span class ="welcome"> <a class ="link" href="{{ path('home') }}" >Retour à l'Accueil </a></span>
                        </div>
                    {% endblock fos_user_content %}
                </div>

            </div>
        </div>
    </section>

{% endblock results %}
