
{% extends "MainBundle::base.html.twig" %}

{% block title %}
    <title>{% trans %}extranet.title{% endtrans %} </title>
{% endblock title %}
{% block css %}
    <link href="{{ asset("bundles/main/css/extranet-styles.css") }}" rel="stylesheet">
{% endblock css %}

{% block menu %}
    {% include '@Main/Menus/mainMenu-extranet.html.twig' %}
{% endblock menu %}

{% block breadcrumb %}
    {{ wo_render_breadcrumbs() }}
{% endblock breadcrumb %}

{% block results %}

    {% include '@Main/Adsense/header.html.twig' %}
    {% if results is not empty %}
        <br>
        <h3>{% trans %}word.question{% endtrans %}</h3>

            {% include '@Main/Extranet/vote.html.twig' with { data: results }  %}
    {% endif %}
    </div>

    {% include '@Main/Adsense/footer.html.twig' %}
{% endblock results %}

{% block ajaxScripts %}
    <script type="text/javascript" src="{{ asset("bundles/main/js/jquery.js") }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/main/js/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/main/js/autocomplete.js') }}"></script>
    <script language="JavaScript" src="{{ asset('bundles/main/js/vote.js') }}"></script>
{% endblock ajaxScripts %}