{% extends '@Main/base.html.twig' %}
{% block title %}
    <title>{% trans %}extranet.title{% endtrans %} </title>
{% endblock title %}
{% block css %}
    <link href="{{ asset("bundles/main/css/extranet-styles.css") }}" rel="stylesheet">
{% endblock css %}

{% block adsense %}
    {% include '@Main/Adsense/default.html.twig' %}
{% endblock adsense  %}

{% block menu %}
    {% include '@Main/Menus/mainMenu-extranet.html.twig' %}
{% endblock menu %}

{% block breadcrumb %}
    {{ wo_render_breadcrumbs() }}
{% endblock breadcrumb %}

{% block content %}

    <section class="hero-story formulaire">

        <div class="sm-wrapper">

            <div class="contents">
                <h2>{% trans %}extranet_menu.list_word{% endtrans %}</h2>
                <br>
                <p>{% trans %}word.list_explanation{% endtrans %} </p>
                <hr>
                <table class="pages-table">
                    <thead>
                    <tr>
                        <th  class ="page-title">Id </th>
                        <th  class ="page-title"> Français </th>
                        <th  class ="page-title">Sango</th>
                        <th  class ="page-title">Votes</th>
                        <th class ="page-title">Statut</th>
                       {# <th class ="page-action">action</th> #}
                    </tr>
                    </thead>
                    <tbody>
                    {% for translation in pagination %}

                        <tr>

                            <td class ="page-trad">{{ translation.id }}</td>
                            <td class ="page-trad">{{ translation.french.word }}</td>
                            <td class ="page-trad">{{ translation.sango.word }}</td>
                            <td class ="page-trad">{{ translation.votes }}</td>
                            <td class ="page-trad">{{ translation.status ? 'Validé': 'En attente'  }}</td>
                           {# <td class ="page-td">
                                <ul class ="page-action" >
                                    <li>
                                        <a href="">{% trans %}word.update{% endtrans %}</a>
                                    </li>

                                    <li>
                                        <a href="">{% trans %}word.delete{% endtrans %}</a>
                                    </li>
                                </ul>
                            </td>

                        </tr>
                        #}
                    {% endfor %}
                    </tbody>
                </table>
                <br>
                <br>
                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
                <br>
                <br>
            </div>
        </div>
    </section>

{% endblock content %}

