{% extends '@Main/base.html.twig' %}
{% block title %}
    <title>{% trans %}extranet.title{% endtrans %} </title>
{% endblock title %}
{% block css %}
    <link href="{{ asset("bundles/main/css/extranet-styles.css") }}" rel="stylesheet">
{% endblock css %}

{% block adsense %}
    {% include '@Main/Adsense/default.html.twig' %}
{% endblock adsense  %}

{% block menu %}
    {% include '@Main/Menus/mainMenu-extranet.html.twig' %}
{% endblock menu %}

{% block breadcrumb %}
    {{ wo_render_breadcrumbs() }}
{% endblock breadcrumb %}

{% block content %}

    <section class="hero-story formulaire">

        <div class="sm-wrapper">

            <div class="contents">
                <h2>{% trans %}word.validation{% endtrans %}</h2>
                <br>
                <p>{% trans %}word.validation_rule_1{% endtrans %} </p>
                <p>{% trans %}word.validation_rule_2{% endtrans %} </p>
                <hr>
                <table class="pages-table">
                    <thead>
                        <tr>
                            <th  class ="page-title">Id </th>
                            <th  class ="page-title"> Français </th>
                            <th  class ="page-title">Sango</th>
                            <th  class ="page-title">Votes</th>
                            <th  class ="page-title"> User</th>
                            <th class ="page-action">action</th>
                        </tr>
                    </thead>
                    <tbody>

                    {% for translation in pagination %}

                    <tr>

                        <td class ="page-trad">{{ translation.id }}</td>
                        <td class ="page-trad">{{ translation.french.word }}</td>
                        <td class ="page-trad">{{ translation.sango.word }}</td>
                        <td class ="page-trad">{{ translation.votes }}</td>
                        <td class ="page-trad">{{ translation.user.lastname }}</td>
                        <td class ="page-td">
                            <ul class ="page-action" >
                                <li>
                                    <a href="{{ path('term_validate',  { 'id': translation.id, 'entity': translation.name }) }}">{% trans %}word.validate{% endtrans %}</a>
                                </li>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li>
                                    <a href="{{ path('term_delete', { 'id': translation.id, 'entity': translation.name }) }}">{% trans %}word.delete{% endtrans %}</a>
                                </li>
                                {% endif %}
                            </ul>
                        </td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            <br>
            <br>
                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
                <br>
                <br>
        </div>
        </div>
    </section>

{% endblock content %}

