
{% extends "MainBundle::base.html.twig" %}
{% block title %}
    <title>{{ 'donate.title'|trans }} |Bantu-dico </title>
    <meta name="description" content="{{ 'donate.text_share'|trans|striptags|truncate(150,true,'...')}}">
{% endblock title %}

{% block meta %}

    <meta property="og:title" content="{{ 'donate.title'|trans }} | Bantu-dico" />
    <meta property="og:description" content="{{ 'donate.text_share'|trans|striptags|truncate(150,true,'...') }}">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ asset("bundles/main/imgs/share/pages/donate.png") }}" />
    <meta property="og:image:height" content="200" />
    <meta property="og:image:width" content="200" />
    <meta property="og:url" content="{{ app.request.getUri }}" />
    <meta property="og:site_name" content="{{ app.request.getSchemeAndHttpHost() }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ 'donate.title'|trans}} | Bantu-dico" />
    <meta name="twitter:description" content="{{ 'donate.text_share'|trans|striptags|truncate(150,true,'...') }}">
    <meta name="twitter:site" content="{{ app.request.getSchemeAndHttpHost() }}" />
    <meta name="twitter:image" content="{{ asset("bundles/main/imgs/share/pages/donate.png") }}" />
    <meta name="twitter:url" content="{{ app.request.getUri }}" />
    <meta name="twitter:site" content="{{ app.request.getSchemeAndHttpHost() }}" />

{% endblock meta %}
{% block adsense %}

{% endblock adsense  %}

{% block scriptFacebook %}
    {% include '@Main/Facebook/tag.html.twig' %}
{% endblock scriptFacebook  %}

{% block breadcrumb %}
    {{ wo_render_breadcrumbs() }}
{% endblock breadcrumb %}

{% block results %}
    <br>

    <div >
        <section class="breadcrumb-wrapper">
            <div class="breadcrumb-contents">
                <div class="user-contents">
                    {% include '@Main/Forms/paypal.html.twig' %}
                </div>
            </div>
        </section>
        <section class="hero-story formulaire">
            <div class="sm-wrapper">
                <div class="contents">
                    <h2> {{ 'donate.page_title'|trans }}</h2>
                    <hr>
                    <br>
                    <br>
                    <p style="text-align: justify;margin-left: 2rem;margin-right: 2rem;">

                        {{ 'donate.text'|trans|nl2br  }}

                    </p>
                    <br>
                    <p>
                        {% include '@Main/Forms/donate.html.twig' %}
                    </p>

                    <br><br>
                    <br>
                </div>

            </div>
        </section>
    </div>

{% endblock results %}
