
{% extends "MainBundle::base.html.twig" %}
{% block title %}
    <title>{{ 'forum.title'|trans }} |Bantu-dico </title>
    <meta name="description" content="{{ 'forum.description'|trans }}">
{% endblock title %}
{% block adsense %}
    {% include '@Main/Adsense/default.html.twig' %}
{% endblock adsense  %}
{% block scriptFacebook %}
    {% include '@Main/Facebook/tag.html.twig' %}
{% endblock scriptFacebook  %}

{% block breadcrumb %}
    {{ wo_render_breadcrumbs() }}
{% endblock breadcrumb %}

{% block results %}
    <br>

    <div >
        <section class="breadcrumb-wrapper">
            <div class="breadcrumb-contents">
                <div class="user-contents">
                    <!-- facebook like button code -->
                    {#                <span class="fb-share-button" data-href="https://bantu-dico.com/pages/{{ page.title|slugify }}" data-layout="button_count"></span>#}
                    {% include '@Main/Forms/paypal.html.twig' %}
                </div>
            </div>
        </section>
        <section class="hero-story formulaire">
            {% include '@Main/Adsense/amazone.html.twig' %}
            <div class="sm-wrapper">
                <div class="contents">
                    <h2> {{ 'forum.title'|trans }}</h2>
                    <hr>
                    <div class="fb-comments" data-href="http://dev.bantu-dico.com/forum" data-numposts="5"></div>


                    <br>
                    <br>
                </div>

            </div>
        </section>
    </div>

{% endblock results %}
