{% extends '@Main/base.html.twig' %}
{% set title     =  page.title|slugify ~'.html.twig'%}

{% set share =  'bundles/main/imgs/share/pages/'~ page.title|slugify ~'.png' %}

{% block title %}
    <title>{{ page.title }} | {{ page.language|length  > 0 ? page.language: ' Bantu-dico' }}</title>
    <meta name="description" content="{{ page.content|striptags|convert_encoding('UTF-8', 'ISO-8859-1') |truncate(150,true,'...') }}">
{% endblock title %}
{% block meta %}

    <meta property="og:title" content="{{ page.title }} |{{ page.language|length  > 0 ? page.language: ' Bantu-dico' }} " />
    <meta property="og:description" content="{{ page.content|striptags|convert_encoding('UTF-8', 'ISO-8859-1') |truncate(150,true,'...') }}">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ asset(share) }}" />
    <meta property="og:image:height" content="200" />
    <meta property="og:image:width" content="600" />
    <meta property="og:url" content="{{ app.request.getUri }}" />
    <meta property="og:site_name" content="{{ app.request.getSchemeAndHttpHost() }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ page.title }} | Bantu-dico" />
    <meta name="twitter:description" content="{{ page.content|striptags|convert_encoding('UTF-8', 'ISO-8859-1') |truncate(150,true,'...') }}">
    <meta name="twitter:site" content="{{ app.request.getSchemeAndHttpHost() }}" />
    <meta name="twitter:image" content="{{ asset(share) }}" />
    <meta name="twitter:url" content="{{ app.request.getUri }}" />
    <meta name="twitter:site" content="{{ app.request.getSchemeAndHttpHost() }}" />

{% endblock meta %}

{% block breadcrumb %}
    {{ wo_render_breadcrumbs() }}
{% endblock breadcrumb %}

{% block scriptFacebook %}

    {% include '@Main/Facebook/tag.html.twig' %}
{% endblock scriptFacebook  %}

{% block adsense %}
    {% include '@Main/Adsense/default.html.twig' %}
{% endblock adsense  %}

{% block content %}

    <section class="breadcrumb-wrapper">
        <div class="breadcrumb-contents">
            <div class="user-contents">
                <!-- facebook like button code -->
{#                <span class="fb-share-button" data-href="https://bantu-dico.com/pages/{{ page.title|slugify }}" data-layout="button_count"></span>#}
                {% include '@Main/Forms/paypal.html.twig' %} 
            </div>
        </div>
    </section>

    <section class="hero-story formulaire">

        {% include '@Main/Adsense/amazone.html.twig' %}

        <div class="sm-wrapper">

            <div class="contents">
                <h2>{{ page.title }}</h2>

                {% include  '@Main/nav/'~title  ignore missing %}

                <br>
                <div class="cke-page">
                    {{ page.content|raw }}
                </div>
                <br><br>
            </div>
        </div>
    </section>
{% endblock content %}
