{% extends '@Main/base.html.twig' %}


{% block title %}
    <title>Bantu | dico</title>
{% endblock title %}
{% block breadcrumb %}
    {{ wo_render_breadcrumbs() }}
{% endblock breadcrumb %}
{% block adsense %}
    {% include '@Main/Adsense/default.html.twig' %}
{% endblock adsense  %}
{% block content %}
    <section class="hero-story formulaire">
        {% include '@Main/Adsense/amazone.html.twig' %}
        <div class="sm-wrapper">
            <div class="contents">
                <h3>{% trans %}pages.404{% endtrans %}</h3>
                <hr>
                <p>
                    {% include '@Main/Forms/paypal.html.twig' %}
                </p>
            </div>
        </div>
    </section>
{% endblock content %}
