<section class="hero-story">
    <div class="sm-wrapper">

        <div class="contents">

            {% if multi %}
                <h3>Ce sens de traduction n'est pas encore disponible</h3>

                <hr>

            {% else %}

                <h3>Aucun résultat ne correspond à votre mot !</h3>

                <hr>
                <div>
                    <p>Vous connaissez peut-être sa définition et souhaitez nous le faire savoir ? </p>
                </div>
            {% endif %}
        </div>

        <a href="{{ path('add_word') }}" class="add-word">Proposer un mot</a>
    </div>
</section>