<section class="hero-story">
    <div class="sm-wrapper">
        <div class="share-media">
            <span data-url="{{ path('term_like', {'id': data.id,'type':data.language}) }}"
                  class="like reloadLike"> {{ data.likes }}</span>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.getSchemeAndHttpHost() }}" target="_blank" class="facebook reloadFacebook"></a>

            <a href="https://twitter.com/intent/tweet/?url={{ app.request.getSchemeAndHttpHost() }}" target="_blank" class="twitter reloadTwitter"></a>
            <!-- Your share button code -->
            <div class="fb-share-button"
                 data-href="http://www.your-domain.com/your-page.html"
                 data-layout="button_count">
            </div>
        </div>

        <div class="contents">
            <h2>{{ data.word }}</h2>
            {% if data.type is not empty %}
                <span>({{ data.type }})</span>
            {% endif %}
            <p>{{ data.description }}</p>
            <hr>
            {% if data.user.id != 1 %}

                <div style="font-weight: bold">
                    <p> {{ 'result.inform'|trans }}</p>
                    <p> {{ 'result.inform2'|trans }} <a href="{{ path('add_word') }}" >{{ 'result.add'|trans }}</a></p>
                </div>
            {% endif %}
            <br>
            <div>
                <a   data-attr = "{{ path('term_translate', {'id': data.id,'src':data.language,'dest':'FR'}) }}"
                     class ="language-fr {{ data.language == 'FR' ? 'main':''}}"
                     href =""
                >
                    <span >Français </span>
                </a>|

                <a    data-attr = "{{ path('term_translate', {'id': data.id,'src':data.language,'dest':'SG'}) }}"
                      class = "language-sg {{ data.language == 'SG' ? 'main':''}}"
                      href = ""
                >
                    <span > Sango </span></a>

            </div>
        </div>

        <a data-attr = "{{ path('term_random') }}"  href="#" class="random">Aléatoire</a>
    </div>
</section>

