<div class="back">

<section class="breadcrumb-wrapper test">
    <div class="breadcrumb-contents">
        <div class="multi-results">

            <h1> {{ 'result.multi'|trans }} {{ target == 'french' ? 'Français': target }} </h1>

            <hr>
        </div>
    </div>
</section>
<section class="stories test">
    {% include '@Main/Adsense/amazone.html.twig' %}
    <div class="sm-wrapper">
        <div class="results">

            {% for data in datas %}

            <div class="story">
                <div class="wrp">

                    <div class="share-media">
                        <span class="like reloadLike">
                            {{ data.likes }}
                        </span>
                    </div>

                    <div class="contents">
                        <h2 class="title">{{ data.word|truncate(10)  }}</h2>
                        <hr>
                        <div>
                            {% if data.type is not empty %}
                            <p class = "word-type">- {{ data.type }} -</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="show">
                        <a href="{{path('home', {'id': data.id, 'multi': 1, 'source': source, 'target': target }) }}#search"  class ="detail">VOIR</a>
                    </div>
                </div>
            </div>
            {% endfor %}
         </div>
    </div>
</section>
</div>