
<section class="hero-story">
      <div class="sm-wrapper">
        <div class="contents">

            <table class="tab-propose">
                <tr>
                    <td colspan="3">
                        <p class="share-media">
                            <span data-url="{{ path('term_like', {'id': data.id}) }}" class="like reloadLike"> {{ data.likes }}</span>
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.getSchemeAndHttpHost() }}" target="_blank" class="facebook reloadFacebook"></a>
                            <a href="https://twitter.com/intent/tweet/?url={{ app.request.getSchemeAndHttpHost() }}" target="_blank" class="twitter reloadTwitter"></a>
                            <!-- Your share button code -->
                            <span class="fb-share-button" data-href="https://bantu-dico.com" data-layout="button_count"></span>
                        </p>
                    </td>
                </tr>

                <tr>

                    <td class="language">{{ data.source.name }}</td>
                    <td></td>
                    <td class="language">{{ data.target.name }}</td>
                </tr>
                <tr>
                    <td class ="colon-propose">
                        <div class="wrp">
                            <div class="contents">
                                <h2  class="title">{{ data.source.word }}</h2>
                                <p>({{ data.source.type }})</p>

                            </div>
                        </div>
                    </td>

                    <td class ="colon-direction">
                         <img   src="{{ asset("bundles/main/imgs/ico/transfer-home.png") }}" alt="checked">
                    </td>

                    <td  class ="colon-propose">
                        <div class="wrp">
                            <div class="contents">
                                <h2 class="title">{{ data.target.word }}</h2>
                                <p>({{ data.target.type }})</p>

                            </div>
                        </div>
                    </td>
                </tr>

                    {# audio #}
                    <tr>
                        <td>
                            {% if  data.source.url and data.target.url %}
                                <span class="colon-wave">
                                   <a href="#" id="frenchControl" class="french">
                                       <img   src="{{ asset("bundles/main/imgs/ico/volume-32.png") }}" alt="french wave">
                                   </a>

                                    <audio id="frenchAudio" preload='none'>
                                        <source src="{{ data.source.url }}" type='audio/wav' />
                                    </audio>

                                </span>
                            {% endif %}
                        </td>
                        <td > {% if data.source.description %}<hr>{% endif %}</td>
                        <td >
                            {% if  data.source.url and data.target.url %}

                                <span class="colon-wave">
                                    <a href="#" id="sangoControl" class="sango">
                                        <img   src="{{ asset("bundles/main/imgs/ico/volume-32.png") }}" alt="sango wave">
                                    </a>

                                    <audio id="sangoAudio" preload='none'>
                                        <source src="{{ data.target.url }}" type='audio/wav' />
                                    </audio>
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                {# end audio #}

                {# description #}
                {% if  data.descriptionSource and data.descriptionTarget %}
                    <tr>
                        <td class ="colon-propose">

                            <p> {{ data.descriptionSource|setWordBold(data.source.word )|raw }} </p>
                        </td>
                        <td ></td>
                        <td class ="colon-propose">
                            <p>  {{ data.descriptionTarget|setWordBold(data.target.word )|raw }}</p>
                        </td>
                    </tr>
                {% endif %}
                {# end description #}
            </table>


            {% if data.user.id != 1 %}
                <br>
                <div style="font-weight: bold;font-style: italic;">
                    <p> {{ 'result.inform'|trans }}</p>
                    <p> {{ 'result.inform2'|trans }} <a href="{{ path('add_word') }}" >{{ 'result.add'|trans }}</a></p>
                </div>
            {% endif %}
        </div>

        <a data-attr = "{{ path('term_random') }}"  href="#" class="random">Aléatoire</a>
    </div>
</section>


    <section class="breadcrumb-wrapper">
        <div class="breadcrumb-contents">
            <div class="user-contents">
                {% if multi is defined and multi is not empty %}
                {% set search = app.session.get('word') %}
                {% set word = search['source'] %}

                    <p style="margin-bottom:15px">
                        <a  data-attr="{{ path('term_multi', {'id': data.id,'source': source,'target': target, 'term': word }) }}" href="#" class="multi">
                            voir les traductions similaires >>
                        </a>
                    </p>
                {% endif %}
                <p>
                    {% include '@Main/Forms/paypal.html.twig' %}
                </p>

            </div>
        </div>
    </section>
