{% extends "MainBundle::base.html.twig" %}

{% block title %}
    <title>{% trans %}extranet.title{% endtrans %} </title>
{% endblock title %}

{% block css %}
    <link href="{{ asset("bundles/main/css/extranet-styles.css") }}" rel="stylesheet">
{% endblock css %}