{% extends '@Main/base.html.twig' %}
{% block title %}
        <title>Login| Bantu</title>
{% endblock title %}

{% block body %}
        {% block hwi_oauth_content %}
        {% endblock hwi_oauth_content %}
{% endblock body %}