<!DOCTYPE html>
<html lang="fr">
<head>

    {% block title %}
    {% endblock title %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="google-signin-client_id" content="663607957672-r2qncvgp1ns7dqtmkv199gju85350bsg.apps.googleusercontent.com">
    <meta property="fb:app_id" content="1381793651841574" />
    <meta name="msvalidate.01" content="8F26DD05C6E867CDA994E10B5E61CF05" />
    <meta name="google-site-verification" content="QOIAaWAAGzq22lKPnkoeizDuZHqnxgqwgADjyV5oftc" />
    <meta name="keywords" content="dictionnaire,sango,lingala, congo, kinshasa, brazzaville, centrafrique,bangui,République Centrafricaine, RCA" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-itunes-app" content="app-id=1555116636, app-argument=https://apps.apple.com/fr/app/bantu-dico/id1555116636">

    {% block meta %}
    {% endblock meta %}

    <link href="{{ asset("bundles/main/css/reset.css") }}" rel="stylesheet">
    <link href="{{ asset("bundles/main/css/jquery-ui.css") }}" rel="stylesheet" type="text/css" >
    <link href="{{ asset("bundles/main/css/autocomplete.css") }}" rel="stylesheet" type="text/css">
    {# manifest file for webapp install via playstore#}
    <link rel="manifest" href="/manifest.json">
    {% block css %}
        <link href="{{ asset("bundles/main/css/styles.css") }}" rel="stylesheet">
    {% endblock css %}
    <link href="{{ asset("bundles/main/css/responsive.css") }}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <link rel="canonical" href="{{ app.request.getUri }}" />
    <link rel="icon" type="image/x-icon" href="{{ asset("bundles/main/imgs/ico/logo.ico") }}" />
    <link rel="alternate" href="{{ app.request.getSchemeAndHttpHost() }}" hreflang="fr"/>

    <script src='https://www.google.com/recaptcha/api.js'></script>
    <title>Bantu-dico</title>
</head>
    <body class="page-home">
    {#google analytics#}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-103304243-1', 'auto');
        ga('send', 'pageview');

    </script>
    {% block adsense %}

    {% endblock adsense  %}
    {#google analytics#}

    <div id="fb-root"></div>
    {% block scriptFacebook %}

    {% endblock scriptFacebook  %}
    <header>

        <div class="mid">
            <a href="{{ path('home') }}"><img class="hide-mobile" alt="Logo home desktop" src="{{ asset("bundles/main/imgs/hero-full-2018.jpg") }}"></a>
            <a href="{{ path('home') }}"><img class="only-mobile" alt="Logo home mobile" src="{{ asset("bundles/main/imgs/hero-mobile-2018.jpeg") }}"></a>
        </div>

        {% block menu %}
            {% include '@Main/Menus/mainMenu.html.twig' %}
        {% endblock menu %}

    <section class="breadcrumb-wrapper">
          <div class="breadcrumb-contents">
              <div class="user-contents">
                  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                      {{ 'layout.logged_in_as'|trans({'%firstname%': app.user.firstname,'%lastname%': app.user.lastname}, 'FOSUserBundle') }}
                  {% endif %}
              </div>

            {% block breadcrumb %}
            {% endblock breadcrumb %}
          </div>
    </section>

        {% block content %}
        {% endblock content %}
    </header>
        {% block results %}
        {% endblock results %}

        {% block body %}
        {% endblock body %}

    <section class="breadcrumb-wrapper">
        <div class="breadcrumb-contents">
            <div class="contents">

            </div>
        </div>
      </section>

        {% block footer %}
            {% include '@Main/Footer/footer.html.twig' %}
        {% endblock footer %}

    {% block ajaxScripts %}
    {% endblock ajaxScripts %}
    <script src="{{ asset("bundles/main/js/general.js") }}"></script>
    </body>
</html>
