{% extends '@Main/base.html.twig' %}

{% block title %}
    <title>{% trans %}site.title{% endtrans %} </title>
    <meta name="description" content="{% trans %}social.description{% endtrans %}">

{% endblock title %}

{% block meta %}

    <meta property="og:title" content="{% trans %}social.title{% endtrans %}" />
    <meta property="og:description" content="{% trans %}social.description{% endtrans %}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~''~ShareRandomImg(23,27) }}" />
    <meta property="og:image:height" content="200" />
    <meta property="og:image:width" content="600" />
    <meta property="og:url" content="{{ app.request.getUri }}" />
    <meta property="og:site_name" content="{{ app.request.getSchemeAndHttpHost() }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{% trans %}social.title{% endtrans %}" />
    <meta name="twitter:description" content="{% trans %}social.description{% endtrans %}" />
    <meta name="twitter:site" content="{{ app.request.getSchemeAndHttpHost() }}" />
    <meta name="twitter:image" content="{{ app.request.getSchemeAndHttpHost() ~''~ ShareRandomImg(23,27) }}" />
    <meta name="twitter:url" content="{{ app.request.getUri }}" />
    <meta name="twitter:site" content="{{ app.request.getSchemeAndHttpHost() }}" />

{% endblock meta %}

    {# script adsense spécifique pour la home#}
    {% block adsense %}

    {% endblock adsense  %}


{% block scriptFacebook %}
    {% include '@Main/Facebook/tag.html.twig' %}
{% endblock scriptFacebook  %}

{% block content %}
    {% include '@Main/Home/search-form.html.twig' %}
{% endblock content %}

{% block results %}
    {% include '@Main/Adsense/header.html.twig' %}

    {% if results is iterable %}
        {#template pour afficher plusieurs resultats#}
        {% if (results|length) > 1 %}

            <div >
                {% include '@Main/Results/results.html.twig' with { datas: results, source: source, target:target   }  %}
            </div>
        {% elseif (results|length) == 1 %}
            {% if results is iterable %}
                {% set results = results|first  %}
            {% endif %}
            {#template pour afficher un resultat #}
            <div id="ajaxResult">
            {% include '@Main/Results/result.html.twig' with { data: results, multi: multi,source: source,target:target  }  %}
            </div>
        {% else %}

            {#template pour pas de resultat#}
            {% include '@Main/Results/noResult.html.twig'  with { multi: multi} %}
        {% endif %}
    {% else %}
           <div id="ajaxResult">
        {% include '@Main/Results/result.html.twig' with { data: results }  %}
           </div>
    {% endif %}

    {% include '@Main/Adsense/footer.html.twig' %}
{% endblock results %}



{% block ajaxScripts %}
    <script type="text/javascript" src="{{ asset("bundles/main/js/jquery.js") }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/main/js/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/main/js/autocomplete.js') }}"></script>
    <script language="JavaScript" src="{{ asset('bundles/main/js/results.js') }}"></script>
{% endblock ajaxScripts %}