
{% set action = path('home') ~ '#search' %}

<section >

    <div class="sm-wrapper">
        <h3 class="title" > Le dictionnaire pratique  <br>Français - Lingala - Sango</h3>
        {{ form_start(form, {'action': action ,'method': 'POST', 'attr': {'class': 'form-wrapper'} }) }}
        <div class ="search-wrapper">
            {{ form_widget(form.term,
                { 'id': 'search',
                    'attr': {'placeholder': 'search.indication'|trans,
                    'data-id' : 'search',
                    'data-url' : path('home')
                } })
            }}

            <p class="choice">
                <span>{{ form_widget(form.source, { 'attr': {'class': 'select-choice' } }) }}</span>
                <img class="arrow-trad"  src="{{ asset("bundles/main/imgs/ico/double-24.png") }}" alt="arrows traduction">
                <span> {{ form_widget(form.target, { 'attr': {'class': 'select-choice'} }) }}</span>
            </p>
        </div>
        {{ form_widget(form.save, {'id': 'submit'}) }}
        {{ form_end(form) }}
    </div>

</section>