<br>
<br>
<h3>{% trans %}word.question{% endtrans %}</h3>

<div id="ajaxVote">
    <section class="hero-story">
        <div class="sm-wrapper">

            <div class="results">

                <div class="story">
                    <br>
                    <table id="ajaxVote2"  class="tab-propose">
                        <tr>
                            <td class="language">Français</td>
                            <td></td>
                            <td class="language">Sango</td>
                        </tr>
                        <tr>
                            <td class ="colon-propose">
                                <div class="wrp">
                                    <div class="contents">
                                        <h2  class="title">{{ data.french.word }}</h2>
                                        <p>({{ data.french.type }})</p>

                                    </div>
                                </div>
                            </td>

                            <td >
                                <br> <img   src="{{ asset("bundles/main/imgs/ico/transfer-home.png") }}" alt="checked">
                            </td>

                            <td  class ="colon-propose">
                                <div class="wrp">
                                    <div class="contents">
                                        <h2 class="title">{{ data.sango.word }}</h2>
                                        <p>({{ data.sango.type }})</p>

                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <a data-attr =  "{{ path('term_correct',{'valid': '0','id': data.id,'random': '1'}) }}"
               class="random" href="" >Aléatoire</a>
        </div>
    </section>
</div>