<ul class="topnav" id="myTopnav">
    <li class="top-left"><a href="{{ path('home') }}">{% trans %}main_menu.home{% endtrans %}</a></li>
    <li class="top-left"><a href="{{ path('generic_pages', { 'title': 'presentation generale'|slugify,'language':'lingala'  }) }}">{% trans %}footer.presentation{% endtrans %}</a></li>
    <li class="top-left"><a href="{{ path('generic_pages', { 'title': 'expressions courantes'|slugify ,'language':'lingala' }) }}">{% trans %}footer.expressions{% endtrans %}</a></li>
    <li class="top-left"><a  href="{{ path('forum') }}">{% trans %}main_menu.forum{% endtrans %}</a></li>



    <li class="top-right"><a href="{{ path('fos_user_security_login') }}">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
           <a href="{{ path('fos_user_security_logout') }}">
               {% trans %}main_menu.deconnexion{% endtrans %}</a>
           </a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </li>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li class="top-right"><a href="{{ path('extranet') }}">{% trans %}main_menu.extranet{% endtrans %}</a></li>
    {% endif %}
    <li class="top-right"><a href="{{ path('contact') }}">{% trans %}main_menu.contact{% endtrans %}</a></li>

    <li class="icon">
        <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
    </li>
</ul>