<ul class="topnav" id="myTopnav">
    <li class="top-left"><a href="{{ path('home') }}">{% trans %}main_menu.home{% endtrans %}</a></li>
    <li class="top-left"> <a  href="{{ path('add_word') }}">{% trans %}extranet_menu.add_word{% endtrans %}</a></li>
    <li class="top-left"> <a  href="{{ path('list_word') }}">{% trans %}extranet_menu.list_word{% endtrans %}</a></li>
    {#<li class="top-left"><a  href="{{ path('fos_user_profile_show') }}">{% trans %}extranet_menu.profile{% endtrans %}</a></li>#}



    <li class="top-right"><a href="{{ path('fos_user_security_login') }}">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('fos_user_security_logout') }}">
                {% trans %}main_menu.deconnexion{% endtrans %}</a>
        </a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </li>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <li class="top-right"><a href="{{ path('sonata_admin_dashboard') }}">{% trans %}admin.home{% endtrans %}</a></li>
    {% endif %}

    {#{% if is_granted('ROLE_ADMIN') %}#}
        {#<li class="top-right"><a href="{{ path('page_index') }}">Pages</a></li>#}
    {#{% endif %}#}
    <li class="icon">
        <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
    </li>
</ul>