
{% extends "MainBundle::base.html.twig" %}
{% block title %}
    <title>Register | Bantu-dico </title>
{% endblock title %}

{% trans_default_domain 'FOSUserBundle' %}
{% block results %}

    <section class="hero-story formulaire">
        <div class="sm-wrapper">
            <div class="contents">
                <div class="register">
                    {% block fos_user_content %}
                        <div > <img style="margin-bottom:15%" width="150" height="150"  src="{{ asset("bundles/main/imgs/ico/check.svg") }}" alt="checked"></div>

                        <p>Votre inscription a bien été enregistrée.</p>
                        <br>
                        <div class="action">
                          <span class ="welcome"> <a class ="link" href="{{ path('extranet') }}" >Acceder a votre espace </a></span>
                          <span class ="welcome"> <a class ="link" href="{{ path('home') }}" >Retour au site </a></span>
                        </div>
                    {% endblock fos_user_content %}
                </div>

            </div>
        </div>
    </section>

{% endblock results %}
