{% extends "MainBundle::base.html.twig" %}
{% block title %}
    <title>{% trans %}user.register_title{% endtrans %} </title>
{% endblock title %}

{% block breadcrumb %}
    {{ wo_render_breadcrumbs() }}
{% endblock breadcrumb %}

{% block adsense %}
    {# begin script for google adsense -- publicity#}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9385763512190012",
            enable_page_level_ads: true
        });
    </script>
    {# end script for google adsense -- publicity#}
{% endblock adsense  %}

{% block results %}


    <section class="hero-story formulaire">
        <div class="sm-wrapper">
            <div class="contents">
                <h3>{% trans %}user.new_account{% endtrans %}</h3>
                <br>
                <div class ="register">

                    {% block fos_user_content %}
                        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
                    {% endblock fos_user_content %}
                </div>

            </div>
        </div>
    </section>


{% endblock results %}

