{% trans_default_domain 'FOSUserBundle' %}


    {#social connect module#}
<div class ="social-connect">
    <div class="field url">
        <a  href="{{ hwi_oauth_login_url('facebook') }}" class="loginBtn loginBtn--facebook">
            Se connecter avec Facebook
        </a>
    </div>
    <div class="field url">
        <a  href="{{ hwi_oauth_login_url('google') }}" class="loginBtn loginBtn--google">
            Se connecter avec Google
        </a>
    </div>



    <div class="orbox">
        <div class="orword">
            ou
        </div>
    </div>
</div>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    <div class="field url">
        <span class="choice">
         Civilité :    {{ form_widget(form.gender, { 'attr': {'class': 'select-choice'} }) }}
        </span>
    </div>
    <div class="field url">
        {{ form_widget(form.firstname,{'attr': { 'placeholder':"Prenom" } }) }}
    </div>
    <div class="field url">
        {{ form_widget(form.lastname,{'attr': { 'placeholder':"Nom" } }) }}
    </div>

    <div class="field url">
        {{ form_widget(form.email, {'attr': { 'placeholder':' Email'} }) }}
    </div>
    <div class="field url">
        {{ form_widget(form.plainPassword.first,{'attr': { 'placeholder':"Mot de passe " } })   }}
    </div>
    <div class="field url">
        {{ form_widget(form.plainPassword.second,{'attr': { 'placeholder':"Repeter Mot de passe" } })   }}
    </div>

    <div class="action">
        <input class ="add-word" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
