
<a  href="{{ path('generic_pages', { 'title': 'grammaire'|slugify  ,'language':'lingala'}) }}"
    class="add-word {{ app.request.attributes.get('language') == 'lingala' ? ' selected-page': ''  }}">Lingala</a>

<a  href="{{ path('generic_pages', { 'title': 'grammaire'|slugify  ,'language':'sango'}) }}"
    class="add-word {{ app.request.attributes.get('language') == 'sango' ? ' selected-page': ''  }}">Sango</a>

<hr class="generic-pages">
<a  href="{{ path('generic_pages',  { 'title':'nombres',    'language':app.request.attributes.get('language')}) }}"     class="page-button">{% trans %}Les nombres{% endtrans %}</a>
<a  href="{{ path('generic_pages',  { 'title':'orthographe','language':app.request.attributes.get('language')}) }}" class="page-button">{% trans %}Orthogragphe{% endtrans %}</a>
<a  href="{{ path('generic_pages',  { 'title':'conjugaison','language':app.request.attributes.get('language') }) }}" class="page-button">{% trans %}Conjugaison{% endtrans %}</a>
<br><br>
<br><br>
<hr>
