

<a  href="{{ path('generic_pages', { 'title': 'presentation-generale'  ,'language':'lingala'}) }}"
    class="add-word {{ app.request.attributes.get('language') == 'lingala' ? ' selected-page': ''  }}">Lingala</a>
<a  href="{{ path('generic_pages', { 'title': 'presentation-generale'  ,'language':'sango'}) }}"
    class="add-word {{ app.request.attributes.get('language') == 'sango' ? ' selected-page': ''  }}">Sango</a>


<br><br>
<br><br>
<hr>