
{% extends 'base.html.twig' %}

{% block menu %}
    {% include '@Main/Menus/mainMenu-extranet.html.twig' %}
{% endblock menu %}

{% block breadcrumb %}
    {{ wo_render_breadcrumbs() }}
{% endblock breadcrumb %}

{% block body %}
    <section class="hero-story formulaire">
        <div class="sm-wrapper">
            <div class="contents">
                <h3>{% trans %}pages.edit_title{% endtrans %} </h3>
                <div class="pages-container">

                    {{ form_start(edit_form) }}
                    <div class="field url">
                        {{ form_widget(edit_form.title, {'attr': { 'placeholder':'pages.edit_page_title'|trans} }) }}
                    </div>
                    {{ form_widget(edit_form.content)}}

                    <input  class ="add-word" type="submit" value="{% trans %}pages.tab_edit{% endtrans %}" />
                    {{ form_end(edit_form) }}

                </div>
                <div class ="action" >
                    <a class ="add-word" href="{{ path('page_index') }}">{% trans %}pages.new_return{% endtrans %}</a>
                </div>
            </div>
        </div>

    </section>

    {#{{ form_start(delete_form) }}#}
    {#<input  class ="add-word" type="submit" value="Delete">#}
    {#{{ form_end(delete_form) }}#}

{% endblock %}
