{% extends 'base.html.twig' %}

{% block menu %}
    {% include '@Main/Menus/mainMenu-extranet.html.twig' %}
{% endblock menu %}

{% block breadcrumb %}
    {{ wo_render_breadcrumbs() }}
{% endblock breadcrumb %}

{% block body %}
    <section class="hero-story formulaire">
        <div class="sm-wrapper">
            <div class="contents">

                <h3>{% trans %}pages.index_title{% endtrans %} </h3>
                  <div class="pages-container">
                    <table class="pages-table">
                        <thead>
                        <tr class ="page-th">
                            <th  class ="page-title"> {% trans %}pages.tab_title{% endtrans %}</th>

                            <th class ="page-action">{% trans %}pages.tab_action{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for page in pages %}
                            <tr>
                                <td class ="page-td">{{ page.title }}</td>

                                <td class ="page-td">
                                    <ul class ="page-action" >
                                        <li>
                                            <a href="{{ path('page_show', { 'id': page.id }) }}">{% trans %}pages.tab_show{% endtrans %}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('page_edit', { 'id': page.id }) }}">{% trans %}pages.tab_edit{% endtrans %}</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                  </div>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <div class ="action" >
                            <a class ="add-word" href="{{ path('page_new') }}">{% trans %}pages.index_create{% endtrans %}</a>
                    </div>
                {% endif %}
            </div>
    </section>

{% endblock %}
