{% extends 'base.html.twig' %}

{% block menu %}
    {% include '@Main/Menus/mainMenu-extranet.html.twig' %}
{% endblock menu %}

{% block breadcrumb %}
    {{ wo_render_breadcrumbs() }}
{% endblock breadcrumb %}

{% block body %}
<section class="hero-story formulaire">
    <div class="sm-wrapper">
        <div class="contents">
            <h3>{% trans %}pages.new_title{% endtrans %} </h3>
            <div class="pages-container">

                {{ form_start(form) }}
                <div class="field url">
                    {{ form_widget(form.title, {'attr': { 'placeholder':'pages.new_page_title'|trans} }) }}
                </div>
                {{ form_widget(form.content)}}

                <input  class ="add-word" type="submit" value="{% trans %}pages.new_create{% endtrans %}" />
                {{ form_end(form) }}

            </div>
            <div class ="action" >
                <a class ="add-word" href="{{ path('page_index') }}">{% trans %}pages.new_return{% endtrans %} </a>
            </div>
        </div>
    </div>

</section>
{% endblock %}