{% extends 'base.html.twig' %}



{% block menu %}
    {% include '@Main/Menus/mainMenu-extranet.html.twig' %}
{% endblock menu %}

{% block breadcrumb %}
    {{ wo_render_breadcrumbs() }}
{% endblock breadcrumb %}

{% block body %}


    <section class="hero-story formulaire">
        <div class="sm-wrapper">
            <div class="contents">
                <h3>{{ page.title }}</h3>
                    <div class="user-check-email">
                        {{ page.content|raw }}
                    </div>
                <br><br>
                    <span class ="welcome">  <a class ="link" href="{{ path('page_index') }}">{% trans %}pages.show_back{% endtrans %}</a></span>
                    <span class ="welcome"> <a  class ="link" href="{{ path('page_edit', { 'id': page.id }) }}">{% trans %}pages.tab_edit{% endtrans %}</a></span>

                    <div class ="action" >
                        {{ form_start(delete_form) }}
                        <input class ="add-word" type="submit" value="{% trans %}pages.show_delete{% endtrans %}">
                        {{ form_end(delete_form) }}
                    </div>
            </div>
            </div>
        </div>
    </section>

{% endblock %}
