{% extends '@Main/base.html.twig' %}
{% block title %}
    <title>{% trans %}extranet.title{% endtrans %} </title>
{% endblock title %}
{% block css %}
    <link href="{{ asset("bundles/main/css/extranet-styles.css") }}" rel="stylesheet">
{% endblock css %}

{% block adsense %}
    {# begin script for google adsense -- publicity#}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9385763512190012",
            enable_page_level_ads: true
        });
    </script>
    {# end script for google adsense -- publicity#}
{% endblock adsense  %}

{% block menu %}
    {% include '@Main/Menus/mainMenu-extranet.html.twig' %}
{% endblock menu %}

{% block breadcrumb %}
    {{ wo_render_breadcrumbs() }}
{% endblock breadcrumb %}

{% block content %}

    <section class="hero-story formulaire">

        <div class="sm-wrapper">
            <div class="contents">
                <h2>{% trans %}word.import{% endtrans %}</h2>
                <hr>
                {{ form_start(form, {'action': path('import_word'),'method': 'POST'}) }}

                <div class="field definition">
                    <span class="choice">
                    {{ form_widget(form.language, { 'attr': {'class': 'select-choice'} }) }}
                    </span>
                </div>
                <div class="field definition">
                    {{ form_widget(form.file, { 'attr': {'class': 'select-choice'} }) }}
                </div>

                <div class="field definition">
                     <span class="choice">
                      Activer le  dictionnaire   {{ form_widget(form.dictionary, { 'attr': {'class': 'select-choice'} }) }}
                    </span>
                </div>

                {{ form_widget(form._token) }}

                <div class="action">
                    {{ form_widget(form.submit, {'attr': { 'class':'add-word'} }) }}
                </div>
            </div>
            {{ form_end(form) }}
            <br>
            <br>
            </div>
        </div>

    </section>


{% endblock content %}
