<a href="https://apps.apple.com/fr/app/bantu-dico/id1555116636" target="_blank">
    <img src="{{ asset("bundles/main/imgs/app-store.png") }}" width="150" height="50"  alt="appstore">
</a>
<a href="https://play.google.com/store/apps/details?id=com.bantudicoandroid" target="_blank">
    <img src="{{ asset("bundles/main/imgs/logo-google-play.png") }}" width="150" height="50"  alt="googleplay">
</a>
