{% extends "MainBundle::base.html.twig" %}
{% block title %}
    <title>{% trans %}user.login_title{% endtrans %} </title>
    <meta name="description" content="{{ 'user.login_description'|trans }}">
{% endblock title %}

{% block adsense %}

{% endblock adsense  %}

{% block results %}


    <section class="hero-story formulaire">
        <div class="sm-wrapper">
            <div class="contents">
                <h3>{% trans %}user.connexion{% endtrans %}</h3>
                <div class ="register">


                    {% block fos_user_content %}
                        {{ include('FOSUserBundle:Security:login_content.html.twig') }}
                    {% endblock fos_user_content %}
                </div>

            </div>
        </div>
    </section>
{% endblock results %}

{% block afterScript %}
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '1381793651841574',
                xfbml      : true,
                version    : 'v2.8'
            });
            FB.AppEvents.logPageView();
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

{% endblock afterScript %}