{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}



{#social connect module#}
<div class ="social-connect">
    <div class="field url">
        <a  href="{{ hwi_oauth_login_url('facebook') }}" class="loginBtn loginBtn--facebook">
            Se connecter avec Facebook
        </a>
    </div>
    <div class="field url">
        <a  href="{{ hwi_oauth_login_url('google') }}" class="loginBtn loginBtn--google">
            Se connecter avec Google
        </a>
    </div>

    <div class="field url">
        <a  href="{{ hwi_oauth_login_url('twitter') }}" class="loginBtn loginBtn--twitter">
            Se connecter avec Twitter
        </a>
    </div>



    <div class="orbox">
        <div class="orword">
            ou
        </div>
    </div>
</div>
<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="field url">
        <input name="_username" id="nom" type="text"
               placeholder="{{ 'security.login.email'|trans }}"  required="required"
               value="{{ last_username }}">
    </div>

    <div class="field url">
        <input name="_password" id="password" type="password"
               placeholder="{{ 'security.login.password'|trans }}"  required="required"
               value="{{ last_username }}">
    </div>
    <div  class="options-login">
        <input style="float: left" type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <span class ="remember" >{{ 'security.login.remember_me'|trans }}</span>
        <span class ="forgot"><a href ="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a></span>
    </div>

    <div >
        <p class ="registration">Pas de compte sur Bantu-dico ?</p>
        <p class ="registration"><a href ="{{path('fos_user_registration_register')  }}">Création de compte</a></p>
    </div>

    <div class="action">
        <input class ="add-word"  type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </div>
</form>
