<footer>
    <div class="wrapper">
        <ul>

            <li><a href="{{ path('generic_pages', { 'title': 'grammaire'|slugify  ,'language':'sango'}) }}">{% trans %}footer.grammaire{% endtrans %}</a></li>
            <li><a  href="{{ path('generic_pages', { 'title': 'a propos'|slugify  }) }}">{% trans %}main_menu.about{% endtrans %}</a></li>
            <li><a  href="{{ path('donate') }}">{% trans %}main_menu.donate{% endtrans %}</a></li>
            <li>
                <a href="https://www.facebook.com/bantuDico/" target="_blank" class="icon">
                    <img src="{{ asset("bundles/main/imgs/ico/002-facebook.png") }}" alt="facebook"></a>
                <a href="https://twitter.com/bantu_dico" target="_blank" class="icon">
                    <img src="{{ asset("bundles/main/imgs/ico/001-twitter.png") }}" alt="twitter">
                </a>
            </li>
            <li>
                {% include '@Main/Forms/paypal.html.twig' %}
            </li>
        </ul>
    </div>
</footer>
