{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

    <div class="field url">
            <span class="choice">
             Civilité :    {{ form_widget(form.gender, { 'attr': {'class': 'select-choice'} }) }}
            </span>
    </div>
    <div class="field url">
        {{ form_widget(form.firstname,{'attr': { 'placeholder':"Prenom" } }) }}
    </div>
    <div class="field url">
        {{ form_widget(form.lastname,{'attr': { 'placeholder':"Nom" } }) }}
    </div>

    <div class="field url">
        {{ form_widget(form.username, {'attr': { 'placeholder':"Nom d'utilisateur"} }) }}
    </div>
    <div class="field url">
        {{ form_widget(form.email, {'attr': { 'placeholder':' Email'} }) }}
    </div>

    <div class="field url">
        {{ form_widget(form.current_password, {'attr': { 'placeholder':' Mot de passe '} }) }}
    </div>
    <div class="action">
        <input class ="add-word"  type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}
