{% extends "MainBundle::base.html.twig" %}
{% block title %}
    <title>{% trans %}extranet.title{% endtrans %} </title>
{% endblock title %}
{% block css %}
    <link href="{{ asset("bundles/main/css/extranet-styles.css") }}" rel="stylesheet">
{% endblock css %}

{% block menu %}
    {% include '@Main/Menus/mainMenu-extranet.html.twig' %}
{% endblock menu %}

{% block breadcrumb %}
    {{ wo_render_breadcrumbs() }}
{% endblock breadcrumb %}

{% block results %}

    <section class="hero-story formulaire">
        <div class="sm-wrapper">
            <div class="contents">
                <h3>{% trans %}user.edit_account{% endtrans %}</h3>
                <br>
                <div class ="register">

                    {% block fos_user_content %}
                        {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
                    {% endblock fos_user_content %}
                </div>

            </div>
        </div>
    </section>


{% endblock results %}

