{% extends "MainBundle::base.html.twig" %}

{% block title %}
    <title>{% trans %}extranet.title{% endtrans %} </title>
{% endblock title %}
{% block css %}
    <link href="{{ asset("bundles/main/css/extranet-styles.css") }}" rel="stylesheet">
{% endblock css %}
{% block menu %}
    {% include '@Main/Menus/mainMenu-extranet.html.twig' %}
{% endblock menu %}

{% block breadcrumb %}
    {{ wo_render_breadcrumbs() }}
{% endblock breadcrumb %}

{% block adsense %}
    {# begin script for google adsense -- publicity#}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9385763512190012",
            enable_page_level_ads: true
        });
    </script>
    {# end script for google adsense -- publicity#}
{% endblock adsense  %}

{% block results %}

    <section class="hero-story formulaire">
        <div class="sm-wrapper">
            <div class="contents">
                <h3>{% trans %}user.infos_account{% endtrans %}</h3>
                <div class="user-check-email">
                    {% block fos_user_content %}
                        {% include "FOSUserBundle:Profile:show_content.html.twig" %}
                    {% endblock fos_user_content %}
                </div>
                <br>
                <br>
                <div class="action">
                    <span class ="welcome"> <a class ="link" href="{{path('fos_user_profile_edit')}}" >Modifier vos informations </a></span>
                </div>
            </div>
        </div>
    </section>

{% endblock results %}
