{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>Prénom: {{ user.firstname }}</p>
    <p>Nom : {{ user.lastname }}</p>
    <p> Civilité : {{ user.gender }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
