<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Bantu | Dico{% endblock %}</title>
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset("bundles/jmstranslation/css/bootstrap.css") }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset("bundles/jmstranslation/css/layout.css") }}" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block topjavascripts %}{% endblock %}
    </head>
    <body>
        <div class="topbar" >
            <div class="topbar-inner" >
                <div class="container" >

                    <h3 >
                        <span style="float: left" >
                            <img style="width: 60px" src="{{ asset("bundles/main/imgs/logo.png") }}" alt="Bantu dico admin"></span>
                        <span >

                            <a href="{{ path("jms_translation_index") }}" class="logo" >
                                   BANTU DICO Tranlastion Module
                             </a>
                        </span>
                    </h3>

                    <h3 style="float: right"><a href="{{  path('sonata_admin_dashboard') }}" class="logo" >Retour </a></h3>
                </div>
            </div>
        </div>
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
        <script language="javascript" type="text/javascript" src="{{ asset("bundles/jmstranslation/js/jquery.js") }}"></script>
        <script language="javascript" type="text/javascript" src="{{ asset("bundles/jmstranslation/js/trunk8.js") }}"></script>
            <script type="text/javascript" src="{{ asset("bundles/jmstranslation/js/jms.js") }}"></script>
        {% endblock %}
    </body>
</html>
