
{% extends "MainBundle::base.html.twig" %}

{% block title %}
    <title>{% trans %}contact.title{% endtrans %} </title>
    <meta name="description" content="{{ 'contact.detail'|trans }}">
{% endblock title %}

{% block adsense %}
    {% include '@Main/Adsense/default.html.twig' %}
{% endblock adsense  %}

{% block breadcrumb %}
    {{ wo_render_breadcrumbs() }}
{% endblock breadcrumb %}

{% block results %}
    <br>

    <div >
        <section class="breadcrumb-wrapper">
            <div class="breadcrumb-contents">
                <div class="user-contents">
                    <!-- facebook like button code -->
                    {#                <span class="fb-share-button" data-href="https://bantu-dico.com/pages/{{ page.title|slugify }}" data-layout="button_count"></span>#}
                    {% include '@Main/Forms/paypal.html.twig' %}
                </div>
            </div>
        </section>
        <section class="hero-story formulaire">
            {% include '@Main/Adsense/amazone.html.twig' %}
                <div class="sm-wrapper">
                    <div class="contents">
                        {% if captcha is defined %}
                            <div class="alert alert-danger" role="alert">
                               Le Captcha n'est pas valide
                            </div>
                        {% endif %}

                        <h2>CONTACT </h2>

                        <hr>
                        <p>{{ 'contact.detail'|trans }}</p>
                        <br>
                        {{ form_start(form, {'action': path('contact'),'method': 'POST'}) }}


                        <div class="field definition">
                            {{ form_widget(form.firstname, {'attr': { 'placeholder':'contact.firstname'|trans} }) }}
                        </div>
                        <div class="field definition">
                            {{ form_widget(form.lastname, {'attr': { 'placeholder':'contact.lastname'|trans} }) }}
                        </div>
                        <div class="field definition">
                            {{ form_widget(form.email, {'attr': { 'placeholder':'contact.email'|trans} }) }}
                        </div>
                        <div class="field definition">
                            {{ form_widget(form.description, {'attr': { 'placeholder':'contact.description'|trans} }) }}
                        </div>

                        {{ form_widget(form._token) }}
                        <br>
                        <br>
                        <br>
                        <div class="field definition recaptcha">
                            <div class="g-recaptcha" data-sitekey="6Lfl_zIUAAAAAJ3Mqkb14-8KVDkonI9YDj8SkGUs"></div>
                        </div>
                        <div class="action">
                            {{ form_widget(form.submit, {'attr': { 'class':'add-word'} }) }}
                        </div>
                        <br>
                    {{ form_end(form) }}
                    <br>
                    <br>
                </div>

            </div>
        </section>

    </div>

{% endblock results %}
