
{% extends "MainBundle::base.html.twig" %}

{% block adsense %}
    {% include '@Main/Adsense/default.html.twig' %}
{% endblock adsense  %}

{% block results %}

    <section class="hero-story formulaire">
        {% include '@Main/Adsense/amazone.html.twig' %}
        <div class="sm-wrapper">
            <div class="contents">
                <div class="register">

                        <div > <img style="margin-bottom:15%" width="150" height="150"  src="{{ asset("bundles/main/imgs/ico/check.svg") }}" alt="checked"></div>

                        <p>
                            {{ 'contact.succes_message1'|trans }}
                        </p>
                        <p>
                            {{ 'contact.succes_message2'|trans }}
                        </p>
                        <br>
                        <div class="action">
                            <span class ="welcome"> <a class ="link" href="{{ path('home') }}" >Retour à l'Accueil </a></span>
                        </div>
                </div>

            </div>
        </div>
    </section>

{% endblock results %}
