<div class="pub-amazone" style="float: left; margin-left: 50px;">
    <a href="https://play.google.com/store/apps/details?id=com.bantudicoandroid" target="_blank">
         <img src="{{ asset("bundles/main/imgs/ico/disponible-en-google-play-png-8.png") }}" width="150" height="500"  alt="googleplay">
    </a>

</div>
