{# begin script for google adsense -- publicity#}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9385763512190012",
        enable_page_level_ads: true
    });
</script>
{# end script for google adsense -- publicity#}