<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- bannermob -->
<ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:100px;background-color: transparent"
     data-ad-client="ca-pub-9385763512190012"
     data-ad-slot="1680936899"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>