<table border="0" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" style="width: 100% !important;margin: 0;padding: 0;background: #ffffff;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-spacing: 0px;">
    <tbody>
    <tr>
        <td align="center" style="border-collapse: collapse;">


            <table class="table" bgcolor="#061646" width="640" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-spacing: 0px;">
                <tbody><tr>
                    <td align="center" style="border-collapse: collapse;"><table class="table" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-spacing: 0px;">
                            <tbody>
                            <tr>
                                <td align="center" style="  border-collapse: collapse;color:#ffffff;
                                                            font-family: helveticaneue-roman, Arial, sans-serif;
                                                            padding-top: 15px;">
                                  <h2> BANTU-DICO</h2>
                                </td>
                            </tr>
                            </tbody></table>
                    </td>
                </tr>
                </tbody></table>

            <table bgcolor="#f5f5f5" align="center" class="table" width="640" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-spacing: 0px;">
                <tbody><tr>
                    <td height="46" style="line-height: 1px;font-size: 1px;border-collapse: collapse;"></td>
                </tr>

                <tr>
                    <td align="center" style="color: #000000;text-decoration: none;font-family: Arial, Helvetica, sans-serif;line-height: 35px;font-size: 23px;border-collapse: collapse;">
                        <b style="text-decoration:none; color:#000000">Nouveau message de : {{ firstname }} {{ lastname }}</b>
                    </td>
                </tr>

                <tr>
                    <td height="20" style="line-height: 1px;font-size: 1px;border-collapse: collapse;"></td>
                </tr>
                <tr>
                    <td align="center" style="color: #000000;text-decoration: none;font-family: Arial, Helvetica, sans-serif;line-height: 18px;font-size: 17px;border-collapse: collapse;">
                        {{ description }}

                    </td>
                <tr>
                    <td height="30" style="line-height: 1px;font-size: 1px;border-collapse: collapse;"></td>
                </tr>
                </tr>
                    <td align="center" style="color: #000000;text-decoration: none;font-family: Arial, Helvetica, sans-serif;line-height: 18px;font-size: 17px;border-collapse: collapse;">
                        Contact : {{ email }}

                    </td>
                </tr>


                <tr>
                    <td height="30" style="line-height: 1px;font-size: 1px;border-collapse: collapse;"></td>
                </tr>
                <tr>
                    <td height="30" style="line-height: 1px;font-size: 1px;border-collapse: collapse;">
                    </td>
                </tr>
                <br>
                </tbody></table>
                <br>
            <table width="100%" style="max-width: 640px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-spacing: 0px;" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                    <td height="64" style="line-height: 1px;font-size: 1px;border-collapse: collapse;"></td>
                </tr>
                <tr>
                    <td align="center" valign="top" style="border-collapse: collapse;"><img style="display: block;max-width: 640px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" src="" alt="" width="100%" border="0"></td>
                </tr>
                <tr>
                    <td height="34" style="line-height: 1px;font-size: 1px;border-collapse: collapse;"></td>
                </tr>
                </tbody></table>

            <table class="table" width="640" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-spacing: 0px;">
                <tbody>
                <tr>
                    <td style="border-collapse: collapse;">
                        <!--[if gte mso 9]>

                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="640" >
                            <tr>


                                <td width="320" align="center" valign="top" >
                        <![endif]-->

                        <table align="left" class="edito-left" width="335" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-spacing: 0px;">
                            <tbody><tr>
                                <td height="6" style="line-height: 1px;font-size: 1px;border-collapse: collapse;"></td>
                            </tr>
                            <tr>
                                <td style="border-collapse: collapse;"><table width="335" class="table" align="left" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-spacing: 0px;">
                                        <tbody><tr>
                                            <td align="right" class="w110" width="141" style="color: #000000;text-decoration: none;font-family: Arial, Helvetica, sans-serif;line-height: 17px;font-size: 15px;border-collapse: collapse;">Suivez-nous :</td>
                                            <td width="13" style="border-collapse: collapse;"></td>
                                            <td align="center" style="border-collapse: collapse;"><a href="https://www.facebook.com/sangoDico/" target="_blank" title="Facebook de la FFC"><img style="display: block;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;border: none;" src="" alt="Facebook bantu-dico" width="40" height="40" border="0"></a></td>
                                            <td width="7" style="border-collapse: collapse;"></td>
                                            <td align="center" style="border-collapse: collapse;"><a href="https://twitter.com/bantu_dico" target="_blank" title="Twitter de la FFC"><img style="display: block;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;border: none;" src="" alt="Twitter bantu-dico" width="40" height="40" border="0"></a></td>
                                            <td width="8" style="border-collapse: collapse;"></td>
                                            <td width="7" style="border-collapse: collapse;"></td>
                                        </tr>
                                        </tbody></table></td>
                            </tr>
                            <tr>
                                <td height="6" class="h20" style="line-height: 1px;font-size: 1px;border-collapse: collapse;"></td>
                            </tr>
                            </tbody></table>
                        <!--[if gte mso 9]>
                        </td>

                        <td width="320" align="center" valign="top" >
                        <![endif]-->


                        <!--[if gte mso 9]>
                        </td>
                        </tr>
                        </table>

                        <![endif]-->

                    </td>
                </tr>
                </tbody></table>

            <table width="640" class="table" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-spacing: 0px;">
                <tbody>
                <tr>
                    <td height="39" style="line-height: 1px;font-size: 1px;border-collapse: collapse;"></td>
                </tr>
                <tr>
                    <td height="2" bgcolor="#dadada" style="line-height: 1px;font-size: 1px;border-collapse: collapse;"></td>
                </tr>
                <tr>
                    <td height="36" style="line-height: 1px;font-size: 1px;border-collapse: collapse;"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>